/***********
 * Tweak Tool *
 ***********/
list.tweak-categories separator {
	background: transparent;
}

/***********
 * Nautilus *
 ***********/
.nautilus-window {
	background-image: none;
	@include fill(normal, $alpha3, $variant, false);
	&:backdrop {
		@include fill(backdrop, $alpha3, $variant, false);
	}
	paned box.floating-bar {
		@include fill(normal, $alpha3, $accent2);
		border-top-left-radius: $omega1;
		button.circular.flat.image-button {
			&, &:hover {
				background-color: transparent;
				border-color: transparent;
				box-shadow: none;
				color: if($variant==light, $white, $dark1);
				margin: 2px;
			}
			&:backdrop {
				transition: none;
				border-color: transparent;
			}
			&:hover {
				color: $failure;
			}
		}
		&:backdrop {
			@include fill(backdrop, $alpha2);
		}
	}
	.searchbar-container searchbar {
		background: transparent;
		border-color: transparent;
	}
	treeview.view header button {
		background-color: if($variant==light, $white, $dark1);
		background-image: none;
		&:hover {
			background-color: $accent2;
		}
		&:backdrop {
			background-color: if(variant==light, darken($white, $beta1), darken($dark1, $beta1));
		}
	}
	.nautilus-list-view .view {
		&.dnd {
			border-style: none;
		}
	}
	notebook > header {
		background: if($variant==light, $white, $dark1);
	}
	.nautilus-canvas-item.dim-label, .nautilus-list-dim-label {
		color: if($variant==light, $white, $dark1);
		&:selected {
			color: transparentize($accent2, $alpha3);
		}
	}
	.nautilus-canvas-item {
		-gtk-outline-radius: $omega1;
		outline-offset: -2px;
		&:selected {
			outline-color: white;
		}
	}
	.nautilus-desktop-window .nautilus-desktop.view {
		color: $accent2;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, $alpha2);
	}
}

/***********
 * Terminal *
 ***********/
terminal-window {
	.terminal-screen {
		@include fill(normal, $alpha3, darken($accent3, 20%));
		&:backdrop {
			@include fill(backdrop, $alpha3, darken($accent3, 20%));
		}
	}
	notebook > header.top > tabs > tab {
		&:checked {
			color: $white;
		}
	}
	notebook {
		> header {
			background-color: $dark1;
			button.flat {
				@include button;
			}
			&, &:backdrop {
				color: $white;
				&, &:disabled {
					background-color: transparent;
					border-color: transparent;
				}
			}
		}
	}
	&:backdrop {
		background-color: darken($dark1, $beta1);
	}
	tab {
		color: $white;
		@include button(solid, dark);
	}
	scrollbar {
		background-color: transparent;
		border-color: transparent;
		&:backdrop {
			background-color: transparent;
			border-color: transparent
		}
		slider {
			margin: 0;
			border-width: 3px;
	                background-color:  transparentize(if($variant==light, $dark1, $white), $alpha2);
			&:hover {
				min-width: 12px;
				background-color: $accent2;
			}
			&:active {
				background-color: $accent3;
			}
			&:disabled {
				background-color: transparent;
			}
			&:backdrop {
				@include fill(backdrop, $alpha3, if($variant==light, dark, light));
			}
		}
	}
}

/******************
 * GNOME Software *
 ******************/
.review-row {
	margin-bottom: 10px;
	padding: 6px 12px;
	box-shadow: 0 1px 2.5px transparentize($dark1, 0.75);
	outline-offset: -1px;
	&, &:not(:selected):not(:backdrop):hover, &:not(:selected):not(:backdrop):active {
		@include fill(normal, $alpha3, $variant, false);
	}
	&:backdrop {
		@include fill(backdrop, $alpha3, $variant, false);
	}
	&:last-child {
		margin-bottom: 0;
	}
	> grid {
		margin-top: -24px;
	}
}

.app-listbox-header {
	background: if($variant==light, $dark1, $white);
}

.list-box-app-row {
	border-radius: 0;
	margin: -1px 0 0 0;
	& ~ separator {
		background-color: if($variant==light, $dark1, $white);
		border: none;
		min-height: 0px;
	}
}
box > list row.list-box-app-row {
    border: none;
}

.application-details-infobar, .category_page_header_filter_box {
	box-shadow: inset 0 0 100px 100px if($variant==light, $dark1, $white);
}

/*********
 * Gedit *
 *********/
.gedit-bottom-panel-paned notebook > header {
	background: if($variant==light, $white, $dark1);
}

.gedit-bottom-panel-paned ~ statusbar {
	border-top: 1px solid if($variant==light, $dark1, $white);
	&:backdrop {
		border-color: if($variant==light, darken($dark1, $beta1), darken($white, $beta1));
	}
}

.gedit-search-slider {
	@include fill(normal, solid, $variant, false);
	padding: 4px 8px;
	&:backdrop {
		@include fill(normal, solid, $variant, false);
	}
}

.gedit-search-entry-occurrences-tag {
	color: transparentize($accent2, $alpha3);
	margin: 2px;
	padding: 2px;
}

.gedit-document-panel {
	background-color: if($variant==light, $white, $dark1);
	row.activatable {
		padding: 6px;
	}
	row button {
		min-width: 22px;
		min-height: 22px;
		padding: 0;
		margin: 0;
		border: none;
	}
	row:hover button {
		&:hover {
			background-color: $accent2;
		}
		&:active {
			background-color: $accent3;
		}
	}
	row:hover:selected button:hover {
		color: $accent2;
	}
}

/***************
 * GNOME Disks *
 ***************/
headerbar button image ~ window decoration ~ menu separator {
	background: transparent;
}

/********
 * Nemo *
 ********/
.nemo-properties-dialog {
	.dialog-action-box .dialog-action-area {
		margin: 2px 6px 4px;
	}
	toolbar stackswitcher.linked button {
		margin-right: 0;
		&:backdrop {
			@include fill(backdrop);
		}
	}
}

.nemo-window {
	.sidebar {
		scrolledwindow.frame.nemo-places-sidebar {
			border: none;
		}
		viewport.frame box.vertical treeview.view.places-treeview {
			&:selected {
				background: if($variant==light, $white, $dark1);
			}
			&:not(:selected) {
				&:not(:backdrop):hover {
					background-image: image($accent2);
				}
			}
		}
	}
	toolbar.horizontal.primary-toolbar {
		widget.linked.raised button {
			&:first-child widget {
				-gtk-icon-source: -gtk-icontheme('go-previous-symbolic');
			}
			&:last-child widget {
				-gtk-icon-source: -gtk-icontheme('go-next-symbolic');
			}
		}
		toolitem box widget * {
			min-height: 0;
			min-width: 0;
		}
		.linked button {
			margin-right: 0;
		}
		button {
			@include button;
		}
	}
}

/*************
* GNOME ToDo *
**************/
.org-gnome-Todo {
	taskrow.activatable.new-task-row button.popup.toggle {
		border-radius: 0px;
		border: none;
		padding-left: 10px;
		padding-right: 10px;
		-gtk-outline-radius: 0px;
	}
	viewport.view, listbox.transparent {
		@include fill(normal, $alpha3, $variant, false);
		&:backdrop {
			@include fill(backdrop, $alpha3, $variant, false);
		}
	}
}
/****************
 * GNOME Photos *
 ****************/
.documents-scrolledwin.frame.frame widget flowboxchild.tile {
	background-color: transparent;
}
/***********
 * Firefox *
 ***********/
#MozillaGtkWidget.background  {
	> widget {
		> scrolledwindow > textview {
			text {
				&:selected {
					@extend %selected;
					border-color: $accent2;
				}
			}
		}
	}
	headerbar.titlebar {
		border-radius: 0;
	}
	> menu, .menu {
		border: none;
	}
	> menu > menuitem {
		border-radius: 0;
	}
	scrollbar {
		background-color: transparent;
		border-color: transparent;
	}
}

normal-button {
	@include clickable(normal);
	&:hover {
		@include clickable(hover);
	}
	&:active {
		@include clickable(active);
	}
	&:disabled {
		@include clickable(disabled);
	}
}

/***********
 * Ubiquity *
 ***********/
#live_installer {
	#progress_mode, #title_eventbox {
		@include fill(normal, $alpha3, $variant, false);
		&:backdrop {
			@include fill(backdrop, $alpha3, $variant, false);
		}
	}
	#dot_grid {
		.empty {
			background-color: transparentize($accent3, $alpha3);
		}
	}
	#page_title {
		color: if($header==dark, $white, $dark1);
	}
}
#dialog-action_area1 {
	padding-bottom: 5px;
	padding-right: 5px
}

/***********
 * Geary *
 ***********/
.geary-expanded headerbar {
	border: none;
}

/***********
 * usb-creator-gtk *
 ***********/
#dialog-action_area3 {
	margin: 5px;
}
