// Main Window
viewport > list, box > stack, notebook, overlay stack viewport, dialog, overlay {
	@include fill(normal);
	&:backdrop {
		@include fill(backdrop);
	}
	label, image {
		&:backdrop, & {
			color: if($variant==light, $dark1, $white);
		}
	}
	> list {
		@include fill(normal);
		&:backdrop {
			@include fill(backdrop);
		}
	}
}
// Main Window built from a list
pooviewport > list {
	label, image {
		&:backdrop, & {
			color: if($variant==light, $dark1, $white);
		}
	}
}
// Sidebar
list.tweak-categories, viewport > stack > list, placessidebar viewport list {
	@include fill(normal, $alpha3, $header);
	&:backdrop {
		@include fill(backdrop, $alpha3, $header);
	}
	> separator {
		@include fill(normal, $alpha2, $header);
		&:backdrop {
			@include fill(backdrop, $alpha2, $header);
		}
	}
}

paned > notebook {
	margin: -6px -11px -12px -6px;
	padding: 10px;
}

paned > separator {
	margin: -3px;
}


%selected {
	background-color: $accent2;
	color: $white;
	&:backdrop {
		background-color: lighten($accent2, $beta1);
	}
	&:disabled {
		color: if($variant==light, lighten($dark1, 50%), darken($white, 50%));
	}
}

.view, textview {
        text {
                selection {
                        &:focus, & {
                                @extend %selected;
                        }
                }
        }
}


.monospace {
	font-family: monospace;
}


.scale-popup {
	&.osd, & {
		background-color: yellow;
	}
}
