button {
	animation: shrink 2s linear infinite;
	min-height: 24px;
	min-width: 16px;
	border-radius: $omega1;
	.flat {
		@include clickable(undecorated);
		&:hover {
			-gtk-icon-effect: highlight;
		}
	}
	
}

headerbar, .titlebar {
	button:not(.image-button):not(.titlebutton):not(.toggle):not(.slider-button) {
		@include button($alpha3, $header);
	}
	buttonbox.linked button {
		@include button($alpha3, $header);
		margin: 0;
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
		&:first-child {
			border-radius: $omega1 0 0 $omega1;
		}
		&:last-child {
			border-radius: 0 $omega1 $omega1 0;
		}
		&:only-child {
			border-radius: $omega1;
		}
	}
	.path-bar button {
		&:first-child, &:last-child {
			background-color: transparent;
			box-shadow: none;
			color: transparent;
			min-width: 0;
			min-height: 0;
			margin: 0;
			padding: 0;
			image {
				color: transparent;
				background-color: transparent;
				&:backdrop {
					color: transparent;
					background-color: transparent;
				}
			}
		}	
	}	
}

// File Path Button i.e. Naughty-less
#pathbarbox button.image-button, .path-bar button.image-button {
	&:first-child, &:last-child {
		background-color: transparent;
		box-shadow: none;
		color: transparent;
		min-width: 0;
		min-height: 0;
		margin: 0;
		padding: 0;
		image {
			color: transparent;
			background-color: transparent;
			&:backdrop {
				color: transparent;
				background-color: transparent;
			}
		}
	}
	image {
		&, &:backdrop {
			color: $white;
		}		
	}
	border-radius: $omega1;
        min-width: 24px;
        margin: 6px 0;
        margin-left: -6px;
        &:dir(ltr):not(:first-child):not(:last-child):not(:checked) {
                padding: 4px 14px;
                @include clickable(normal, solid, $header);
                &:backdrop {
                        @include clickable(backdrop, solid, $header);
                }
        }
        &:checked {
                font-weight: normal;
                padding: 4px 14px;
                @include clickable(active, $alpha3, $accent2);
                &:backdrop {
                        @include clickable(backdrop-active, $alpha3, $accent2);
                }
        }

}
#pathbarbox button:not(.image-button), .path-bar button:not(.image-button) {
	min-width: 24px;
	margin: 6px 0;
	margin-left: -6px;
	&:dir(ltr):not(:first-child):not(:last-child):not(:checked) {
		border-radius: 0 $omega1 $omega1 0;
		padding: 4px 14px;
		@include clickable(normal, solid, $header);
		&:backdrop {
			@include clickable(backdrop, solid, $header);
		}
	}
	&:checked {
		font-weight: normal;
		border-radius: 0 $omega1 $omega1 0;
		padding: 4px 14px;
		@include clickable(active, $alpha3, $accent2);
		&:backdrop {
			@include clickable(backdrop-active, $alpha3, $accent2);
		}
	}
}

// Image i.e. Search Magnifier Icon
button.image-button, button.toggle {
	min-height: 24px;
	min-width: 24px;
	&:hover, &:checked {
		image {
			color: $accent2;
		}
		&:backdrop {
			&:hover, &:checked {
				image {
					color: lighten($accent2, $beta1);
				}
			}
		}
	}
}	

// Minimize, Maximise and Close
button.titlebutton {
	min-height: 24px;
	min-width: 24px;
	border-radius: 50%;
	&.minimize {
		&:hover {
			@include clickable(hover, $alpha3, $accent1);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent1);
			}
		}
	}
	&.maximize {
		&:hover {
			@include clickable(hover, $alpha3, $accent2);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent2); 
			}
		}
	}
	&.close {
		@include clickable(normal, $alpha3, $accent2);
		&:hover {
			@include clickable(hover, $alpha3, $accent3);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent3);
			}
		}
	}
}
// Button with text inside
button.text-button {
	min-height: 24px;
	min-width: 60px;
	margin: 6px 0;
	padding: 4px 6px;
	@include button($alpha3, $variant);
}

combobox button, filechooserbutton, widget button {
	padding: $omega1;
	min-height: 24px;
	min-width: 24px;
	@include button;
	arrow {
		-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
		min-height: 20px;
		min-width: 20px;
	}
}


buttonbox.linked button {
	margin: 0;
	&:not(:first-child):not(:last-child) {
		border-radius: 0;
	}
	&:first-child {
		border-radius: $omega1 0 0 $omega1;
	}
	&:last-child {
		border-radius: 0 $omega1 $omega1 0;
	}
	&:only-child {
		border-radius: $omega1;
	}
}

