.path-bar button {
	&:first-child, &:last-child {
		background-color: transparent;
		box-shadow: none;
		color: transparent;
		min-width: 0;
		min-height: 0;
		margin: 0;
		padding: 0;
	}
	min-height: 24px;
	min-width: 24px;
	margin: 6px 0;
	margin-left: -6px;
	&:dir(ltr):not(:first-child):not(:last-child):not(:checked) {
		border-radius: 0 $omega1 $omega1 0;
		padding: 4px 14px;
		@include clickable(normal, $alpha3, $header);
		&:backdrop {
			@include clickable(backdrop, $alpha3, $header);
		}
	}
	&:checked {
		border-radius: 0 $omega1 $omega1 0;
		padding: 4px 14px;
		@include clickable(active, $alpha3, $accent2);
		&:backdrop {
			@include clickable(backdrop-active, $alpha3, $accent2);
		}
	}
}

button.image-button {
	margin: 6px 4px;
	padding: 4px 6px;
	min-height: 16px;
	min-width: 16px;
	&:hover {
		color: $accent2;
		&:backdrop {
			color: lighten($accent2, $beta1);
		}
	}
}	

button.titlebutton {
	min-height: 24px;
	min-width: 24px;
	border-radius: 50%;
	&.minimize {
		&:hover {
			@include clickable(hover, $alpha3, $accent1);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent1);
			}
		}
	}
	&.maximize {
		&:hover {
			@include clickable(hover, $alpha3, $accent2);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent2); 
			}
		}
	}
	&.close {
		@include clickable(normal, $alpha3, $accent2);
		&:hover {
			@include clickable(hover, $alpha3, $accent3);
			&:backdrop {
				@include clickable(backdrop-hover, $alpha3, $accent3);
			}
		}
	}
}
button.text-button {
	padding: 4 6px;
	@include clickable(normal, $alpha3);
	&:hover {
		@include clickable(hover, $alpha3);
	}
	&.default {
		@include clickable(normal, $alpha3, $accent2);
	}
	&.suggested-action {
		@include clickable(normal, $alpha3, $success);
	}
}

buttonbox button, .path-bar button {
        border-radius: 0;
	&:first-child {
		border-radius: $omega1 0 0 $omega1;
	}
	&:last-child {
		border-radius: 0 $omega1 $omega1 0;
	}
}

combobox button, filechooserbutton, widget button {
	border-radius: $omega1;
	padding: $omega1;
	@include clickable(normal);
}

button.toggle {
	&:checked {
		@include clickable(active, $alpha3, $accent2);
		&:backdrop {
			@include clickable(backdrop-active, $alpha3, $accent2);
		}
	}
}

widget.view:selected {
	border-radius: $omega1;
	@include clickable(active, $alpha3, $accent2);
	&:backdrop {
		@include clickable(backdrop-active, $alpha3, $accent2);
	}
}
