decoration {
	border-radius: $omega1;
	&, &:backdrop {
		background-color: transparent;
	}
	box-shadow: $shadow2;
	&:backdrop {
		transition: $backdrop;
		box-shadow: $shadow2;
	}
	margin: 10px;

	window.tiled &,
        window.tiled-top &,
        window.tiled-right &,
        window.tiled-bottom &,
        window.tiled-left &,
        window.maximized &,
        window.fullscreen &,
        window.solid-csd & {
		border-radius: $omega1;
	}
}
