decoration {
	&, &:backdrop {
		background-color: transparent;
	}
	box-shadow: $shadow2;
	transition: $backdrop;
	&:backdrop {
		transition: $backdrop;
		box-shadow: $shadow1;
	}
	margin: 10px;
	border-radius: $omega1 $omega1 0;


	.csd.popup, .tooltip.csd, messagedialog.csd, .solid-csd {
		background-color: red;
		color: blue;
		box-shadow: $shadow2;
	}
}
