dialog {
	border-bottom-right-radius: $omega1;
	> decoration {
//		@include fill(normal, $alpha3);
		border-bottom-right-radius: $omega1;
		&:backdrop {
//			@include fill(backdrop, $alpha3);
		}
	}
	label, image {
		color: if($variant==light, $dark1, $white);
		&:backdrop {
			color: if($variant==light, $dark1, $white);
		}
	}
}
