
/**********
 * Frames *
 **********/
frame > border,	.frame {
	box-shadow: none;
	margin: 0;
	padding: 0;
	border: none;
//	border-radius: $omega1;
//	border: 1px solid if($variant==light, $dark1, $white);
	&.flat {
//		border-style: none;
	}
	&:backdrop {
//		border-color: if($variant==light, lighten($dark1, $beta1), darken($white, $beta1));
	}
}

actionbar > revealer >  box {
	padding: 6px;
	border-top: 1px solid if($variant==light, $dark1, $white);
	&:backdrop {
		border-color: if($variant==light, lighten($dark1, $beta1), darken($white, $beta1));
	}
}

scrolledwindow {
	border-style: none;
	viewport > list, viewport > stack list {
		@include fill(normal, $alpha3, $header);
		&:backdrop {
			@include fill(backdrop, $alpha3, $header);
		}
	}
	viewport.frame { // avoid double borders when viewport inside scrolled window
		border-style: none;
	}
	overshoot {
		&.top {
			@include overshoot(top);
			&:backdrop {
				@include overshoot(top, backdrop);
			}
		}
		&.bottom {
			@include overshoot(bottom);
			&:backdrop {
				@include overshoot(bottom, backdrop);
			}
		}
		&.left {
			@include overshoot(left);
			&:backdrop {
				@include overshoot(left, backdrop);
			}
		}
		&.right {
			@include overshoot(right);
			&:backdrop {
				@include overshoot(right, backdrop);
			}
		}
	}
	undershoot {
		&.top {
			@include undershoot(top);
		}
		&.bottom {
			@include undershoot(bottom);
		}
		&.left {
			@include undershoot(left);
		}
		&.right {
			@include undershoot(right);
		}
	}
	junction { // the small square between two scrollbars
		border-color: transparent;
		// the border image is used to add the missing dot between the borders, details, details, details...
		border-image: linear-gradient(to bottom, $accent2 1px, transparent 1px) 0 0 0 1 / 0 1px stretch;
		background-color: if($variant==light, $dark1, $white);
		&:dir(rtl) {
			border-image-slice: 0 1 0 0;
		}
		&:backdrop {
			border-image-source: linear-gradient(to bottom, lighten($accent2, $beta1) 1px, transparent 1px);
			background-color: if($variant==light, lighten($dark1, $beta1), darken($white, $beta1));
			transition: $backdrop;
		}
	}
}

//vbox and hbox separators
separator {
//	background: transparentize($accent2, 0.7);
	min-width: 1px;
	min-height: 1px;
}
