viewport > stack > list row {
	padding: 0;
	margin: 0;
}

list.tweak-categories row, placessidebar viewport list row {
	padding: 10px;
}

list.tweak-categories > row , viewport > stack > list > row, placessidebar > viewport > list > row {
	min-height: 10px;
	image {
		padding: 0 10px;
	}
	&.activatable {
		label, image {
			&:backdrop, & {
				color: inherit;
			}
		}
		&:hover {
			@include clickable(hover, $alpha3, $accent2);
		}
		&:selected, &:active, &.has-open-popup {
			@include clickable(active, solid, if($header==light, $dark1, $white));
			&:backdrop {
				@include clickable(backdrop-active, solid, if($header==light, $dark1, $white));
			}
			label, image {
				&:backdrop, & {
					color: if($header==light, $white, $dark1);
				}
			}
		}
	}
}

frame row {
	border-radius: $omega1;
	margin: 6px 1px;
	@include clickable(normal);
	&:selected {
		@include clickable(active, solid, $accent2);
	}
	&:backdrop {
		@include clickable(backdrop);
		&:selected {
			@include clickable(active, solid, $accent2);
		}
	}
}
