menubar, .menubar {
	@include fill(normal, $alpha2, $header);
	&:backdrop {
		@include fill(normal, $alpha2, $header);
	}
	> menuitem {
		min-height: 20px;
		padding: 4px $omega1;
		&:active, &:checked {
			@include clickable(active, $alpha3, $accent2);
		}
		&:disabled {
			@include clickable(disabled);
		}
	}
}
menu, .menu, .context-menu {
	margin: 4px;
	padding: 8px 0;
	@include clickable(normal);
	border-radius: $omega1;
	&:backdrop {
		@include clickable(backdrop);
	}
	menuitem {
		min-height: 20px;
		min-width: 200px;
		padding: 4px $omega1;
		&:hover {
			@include clickable(hover, solid, $accent2);
		}
		&:disabled {
			@include clickable(disabled);
		}
		&:backdrop {
			&:hover {
				@include clickable(hover, solid, $accent2);
			}
		}
		arrow {
			min-height: 22px;
			min-width: 22px;
			&:dir(ltr){
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
			}
			&:dir(rtl){
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic-rtil');
			}
		}
	}
	> arrow {
		min-height: 22px;
		min-width: 22px;
		&.top {
			-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
		}
		&:bottom {
			-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
		}


	}
}
