.app-notification, .app-notification.frame {
        border-radius: $omega1;
        box-shadow: $shadow2;
        @include fill(normal, $alpha3);
	&:backdrop {
		@include fill(backdrop, $alpha3);
	}
        button.flat:hover {
                @include clickable(hover);
        }
        border {
                border: none;
        }
}

