popover {
	border-radius: $omega1;
	box-shadow: $shadow2;
	@include clickable(normal, $alpha3, $header);
	&:backdrop {
		@include clickable(backdrop, $alpha3, $header);
	}
	button {
		min-height: 26px;
		min-width: 26px;
		@include clickable(normal, $alpha3, $header);
		&:hover {
			@include clickable(hover, $alpha3, $accent2);
		}
                &:disabled {
                        @include clickable(disabled);
                }
		border-radius: 9999px;
	}
	modelbutton {
		padding: 4px 6px;
                &:hover {
                        @include clickable(hover, $alpha3, $accent2);
                }
                &:disabled {
                        @include clickable(disabled);
                }
                &:backdrop {
                        &:hover {
                                @include clickable(hover, $alpha3, $accent2);
                        }
                }
		padding: $omega1 0;
		arrow {
			color: if($header==light, $dark1, $white);
			min-height: 20px;
			min-width: 20px;
			&.right {
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
			}
			&.left {
				-gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
			}
		}
	}
}
