popover {
	border-radius: $omega1;
	box-shadow: $shadow2;
	@include clickable(normal);
	&:backdrop {
		@include clickable(backdrop);
	}
	button {
		min-height: 26px;
		min-width: 26px;
		@include clickable(normal);
		&:hover {
			@include clickable(hover, solid, $accent2);
		}
		border-radius: 9999px;
	}
	modelbutton {
		padding: $omega1 0;
		arrow {
			color: if($variant==light, $dark1, $white);
			min-height: 20px;
			min-width: 20px;
			&.right {
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
			}
			&.left {
				-gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
			}
		}
	}
}
