

/*****************
 * Progress bars *
 *****************/
progressbar {
	// sizing
	&.horizontal {
		trough, progress {
			min-height: 3px;
		}
	}
	&.vertical {
		trough, progress {
			min-width: 3px;
		}
	}
	// FIXME: insensitive state missing and some other state should be set probably
	font-size: smaller;
	color: transparentize(if($variant==light, $dark1, $white), $alpha3);
	&:backdrop {
		box-shadow: none;
		transition: $backdrop;
	}
	trough {
		@extend %scale_trough;
	}
	&:backdrop trough {
		@extend %scale_trough:backdrop;
	}
	%progressbar_highlight {
		border-radius: 3px;
		background-color: $accent2;
		&:disabled {
			background-color: transparent;
		}
		&:backdrop {
			background-color: lighten($accent2, $beta1);
			&:disabled {
				background-color: transparent;
			}
		}
	}
	progress {
		@extend %progressbar_highlight;
		border-radius: 1.5px;
		&.left {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&.right {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		&.top {
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}
		&.bottom {
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
	&:backdrop progress {
		@extend %progressbar_highlight:backdrop;
	}
	&.osd {
		min-width: 3px;
		min-height: 3px;
		box-shadow: none;
		background-color: transparent;
		trough {
			border-style: none;
			border-radius: 0;
			background-color: transparent;
			box-shadow: none;
		}
		progress {
			border-style: none;
			border-radius: 0;
		}
	}
	trough.empty progress {
		all: unset;
	}
}

