headerbar {
        window separator:first-child + &,
        window &:first-child {
                &:backdrop, & {
                        border-top-left-radius: $omega1;
                }
        }
        window &:last-child {
                &:backdrop, & {
                        border-top-right-radius: $omega1;
                }
        }
        window stack & {
                &:first-child, &:last-child {
                        &:backdrop, & {
                                border-top-left-radius: $omega1;
                                border-top-right-radius: $omega1;
                        }
                }
        }
        window.tiled &,
        window.tiled-top &,
        window.tiled-right &,
        window.tiled-bottom &,
        window.tiled-left &,
        window.maximized &,
        window.fullscreen &,
        window.solid-csd & {
                &, &:backdrop {
                        &, &:first-child, &:last-child, &:only-child {
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                        }
                }
        }
}
.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
        &:backdrop, & {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
        }
}
.background .titlebar {
        &:backdrop, & {
                border-top-left-radius: $omega1;
                border-top-right-radius: $omega1;
        }
}

list.tweak-categories, viewport > stack > list, placessidebar viewport list {
        .tiled &,
        .tiled-top &,
        .tiled-right &,
        .tiled-bottom &,
        .tiled-left &,
        .maximized &,
        .fullscreen & {
                &:backdrop, & {
                        border-bottom-left-radius: 0;
                }
        }
	border-bottom-left-radius: $omega1;
}

