.monospace {
	font-family: monospace;
}

.view, textview {
        caret-color: if($variant==light, $dark1, $white);
        text {
                selection {
                        &:focus, & {
                                @extend %selected;
                        }
                }
        }
}

// Selected icon i.e. in Naughty-less
widget.view:selected {
	border-radius: $omega1;
        @extend %selected;
}

