.monospace {
	font-family: monospace;
}

.view, textview {
        caret-color: if($variant==light, $dark1, $white);
        text {
                selection {
                        &:focus, & {
                                @extend %selected;
                        }
                }
        }
}

// Selected icon i.e. in Naughty-less
widget.view:selected {
	border-radius: $omega1;
	background-color: transparentize($accent2, $alpha2);
	background-image: $accent2;
	color: $white;
	&:backdrop {
		background-color: transparentize(lighten($accent2, $beta1), $alpha2);
		background-image: lighten($accent2, $beta1);
		color: $white;
	}
}

