tooltip {
	&.background {
		@include fill(normal, $alpha3);
		background-clip: padding-box;
		border: 1px solid if($variant==light, $dark1, $white);
	}
	border-radius: $omega1;
	box-shadow: none;
	decoration {
		background-color: transparent;
	}
	> * {
//		min-height: 32px - (6px - 1px) * 2;
//		padding: 0 8px - (6px - 1px);
//		background-color: transparent;
//		color: if($variant==light, $dark1, $white);
	}
}


