toolbar {
        @include clickable(normal);
	&:backdrop {
		@include clickable(backdrop);
	}
        padding: 1px 0;
        border-radius: $omega1;
	button {
		border-radius: 0;
		&:first-child {
			border-radius: $omega1 0 0 $omega1;
		}
		&:last-child {
			border-radius: 0 $omega1 $omega1 0;
		}
	}
}

