treeview.view {
	@at-root * {
		-GtkTreeView-horizontal-separator: 4;
		-GtkTreeView-grid-line-width: 1;
		-GtkTreeView-grid-line-pattern: '';
		-GtkTreeView-tree-line-width: 1;
		-GtkTreeView-tree-line-pattern: '';
		-GtkTreeView-expander-size: 22;
	}

	rubberband {
		background-color: red;
	}
	&:selected {
		@extend %selected;
	}
	button {
		border-radius: 0;
		padding: $omega1;
		@include clickable(normal);
	}
	&.expander {
		-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
		&:checked {
			-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
		}
	}
}
