decoration {
	border-radius: $omega1;
	border-width: 0;
	box-shadow: $shadow2;
	margin: 10px;
	&:backdrop {
		box-shadow: $shadow1;
	}
	.maximized &,
	.fullscreen &,
	.tiled &,
	.tiled-top &,
	.tiled-right &,
	.tiled-bottom &,
	.tiled-left & {
		border-radius: 0;
	}
}
