.background {
	background-color: transparentize(if($variant==light, $dark1, $white), $alpha3);
	color: if($variant==light, $white, $dark1);
	&:backdrop {
		background-color: transparentize(if($variant==light, darken($dark1, $beta1), darken($white, $beta1)), $alpha3);
		color: if($variant==light, $white, $dark1);
	}
}

// Main Window
//window > box, //GHEX
window > box > box, 
window > box > box > box, // CHEESE
window > box > stack {
	&:last-child, &:only-child {
		@include fill(normal);
		&:backdrop {
			@include fill(backdrop);
		}	
	}
}
notebook, widget viewport, stack > widget > box > stack box {
	@include fill(normal);
	&:backdrop {
		@include fill(backdrop);
	}
}

// Main Window built from a list
paned > notebook {
	&, &:backdrop {
//		margin: -6px -11px -12px -6px;
//		padding: 10px;
	}
}

