.app-notification, .app-notification.frame {
	padding: 10px;
	margin: 12px;
	color: $color;
	border-radius: $omega1;
	background-color: $fill;
	border: 1px solid $mix;
	box-shadow: $shadow2;
	&:backdrop {
		background-color: $bd-fill;
		box-shadow: $shadow1;
		transition: $backdrop;
	}
	button.flat:hover {
		color: $accent2;
		border-color: $mix;
	}
	border {
		border: none;
	}
}

