@function gtkalpha($c,$a) {
	@return unquote("alpha(#{$c},#{$a})");
}

* {
	padding: 0;
	-GtkToolButton-icon-spacing: 4;
	-GtkTextView-error-underline-color: $failure;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkToolItemGroup-expander-size: 11;
	-GtkWidget-text-handle-width: 20;
	-GtkWidget-text-handle-height: 24;
	-GtkDialog-button-spacing: 4;
	-GtkDialog-action-area-border: 0;
//	outline-color: $focus_color; // gtkalpha(currentColor, 0.3);
//	outline-style: dashed;
//	outline-offset: 0px;
//	outline-width: 1px;
	-gtk-outline-radius: 0px;
	-gtk-secondary-caret-color: $accent2;
}

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix: if($variant=='dark', '-dark', '');
$small_radius: 4px;
$medium_radius: 6px;
$large_radius: 12px;
$backdrop_transition: all 200ms ease-out;
$button_transition: all 0.4s ease-out;
$popover_shadow: 0 2px 5px transparentize(black, 0.75);

