%selected_items {
	background-color: $accent2;
	color: $white;
	transition: $tran1;
	&, image {
		color: $white;
	}
	&, label {
		color: $white;
	}
	&:backdrop {
		background-color: lighten($accent2, $beta1);
		color: darken($white, $beta1);
		&, image {
			color: darken($white, $beta1);
		}
		&, label {
			color: darken($white, $beta1);
		}
	}
	@at-root %nobg_selected_items, & {
		color: $white;
		background-color: $accent2;
		&:disabled {
			opacity: $alpha1;
		}
	&:backdrop {
		&, label {
			color: darken($white, $beta1);
		}
		&:disabled {
			opacity: $beta1;
		}
	}
	}
}

