$accent1:#c43e00;
$accent2:#ff6f00;
$accent3:#ffa040;

$variant: 'dark';
$header: 'dark';
@import "../Master/gnome-shell-sass/_starlabs";
@import "../Master/gnome-shell-sass/_colors"; //use gtk colors
@import "../Master/gnome-shell-sass/_drawing";
@import "../Master/gnome-shell-sass/_common";
@import "../Master/gnome-shell-sass/_dock";
@import "../Master/gnome-shell-sass/_oliverqueen";

