#dash {
	font-size: 9pt;
	@include fill(normal, $alpha3);
	padding: 4px 0;
	border-left: 0px;
	border-radius: 0px 9px 9px 0px;
	&:rtl {
		border-radius: 9px 0 0 9px;
	}
	.placeholder {
		background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
		background-size: contain;
		height: 24px;
	}
	.empty-dash-drop-target {
		width: 24px;
		height: 24px;
	}
}
.dash-item-container > StWidget {
	padding: 4px 8px;
}
.dash-label {
	border-radius: $omega1;
	padding: 6px 12px;
	@include fill(normal, $alpha1);
	text-align: center;
	-x-offset: 8px;
}
.icon-grid {
	spacing: 30px;
	-shell-grid-horizontal-item-size: 136px;
	-shell-grid-vertical-item-size: 136px;
	.overview-icon {
		icon-size: 96px;
	}
}
.system-action-icon {
	@include fill(normal, $alpha1);
	border-radius: 99px;
	icon-size: 48px;
}
.app-view-controls {
	padding-bottom: 32px;
}
.app-view-control {
	padding: 4px 32px;
	margin: 0 4px;
	@include button(all, true, false);
	&:first-child {
		border-right-width: 0;
		border-radius: 0;
	}
	&:last-child {
		border-radius: 0;
	}
}
.search-provider-icon, .list-search-result {
	zcolor: $white;
	border-radius: $omega1;
	padding: 6px;
	transition: $tran2;
	text-align: center;
	&:active, &:checked {
		@include clickable(active);
	}
	&:focus, &:selected, &:hover {
		@include clickable(hover);
	}
}
.app-well-app, .app-well-app.app-folder, .show-apps, .grid-search-result {
	& .overview-icon {
		color: $white;
		border-radius: $omega1;
		padding: 6px;
		transition: $tran2;
		text-align: center;
	}
	&:active .overview-icon, &:checked .overview-icon {
		@include clickable(active);
		.app-well-app-running-dot {
			background-color: $white;
		}
	}
	&:hover .overview-icon, &:focus .overview-icon, &:selected .overview-icon {
		@include clickable(hover);
	}
}
.app-well-app-running-dot {
	width: 6px;
	height: 6px;
	border-radius: $omega1;
	background-color: $accent2;
	margin-bottom: 1px;
}
.app-well-app.app-folder > .overview-icon {
	color: $white;
	border-radius: $omega1;
	padding: 6px;
	transition: $tran2;
	text-align: center;
}
.show-apps:checked .show-apps-icon, .show-apps:focus .show-apps-icon {
	color: $white;
	transition: $tran2;
}
.app-folder-popup {
	-arrow-border-radius: $omega1;
	-arrow-background-color: transparentize($dark1,.7);
	-arrow-border-width: 1px;
	-arrow-border-color: transparentize($dark1,.5);
	-arrow-base: 24px;
	-arrow-rise: 11px;
}
.app-folder-popup-bin {
	padding: 5px;
}
.app-folder-icon {
	padding: 5px;
	spacing-rows: 5px;
	spacing-columns: 5px;
}
.page-indicator {
	padding: 15px 20px;
	.page-indicator-icon {
		width: 18px;
		height: 18px;
		background-image: url(resource:///org/gnome/shell/theme/page-indicator-inactive.svg);
	}
	&:hover .page-indicator-icon {
		background-image: url(resource:///org/gnome/shell/theme/page-indicator-hover.svg);
	}
	&:active .page-indicator-icon {
		background-image: url(resource:///org/gnome/shell/theme/page-indicator-active.svg);
	}
	&:checked .page-indicator-icon,	&:checked:active {
		background-image: url(resource:///org/gnome/shell/theme/page-indicator-checked.svg);
	}
}
.no-frequent-applications-label {
	font-size: 2em;
	font-weight: bold;
	color: $white;
}
.app-well-app > .overview-icon.overview-icon-with-label, .grid-search-result .overview-icon.overview-icon-with-label {
	padding: 10px 8px 5px 8px;
	spacing: 4px;
}
.workspace-thumbnails {
	border: none;
	@include fill(normal, $alpha3);
	visible-width: 32px;
	spacing: 11px;
	padding: 8px;
	border-radius: $omega1 0 0 $omega1;
	&:rtl {
		border-radius: 0 $omega1 $omega1 0;
	}
	.placeholder {
		background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
		background-size: contain;
		height: 24px;
	}
}
.workspace-thumbnail-indicator {
	border-left-width: 2px;
	padding: 4px;
}

.search-display > StBoxLayout, .all-apps, .frequent-apps > StBoxLayout {
	padding: 0px 88px 10px 88px;
}
