.extension-dialog {
	@extend %shell-window;
	StEntry {
		@include entry;
	}
	.button {
		@include button(all, true, false);
		@include button-shell;
	}
	.message-dialog-main-layout {
		spacing: 24px;
		padding: 10px;
	}
	.message-dialog-title {
		color: $white;
	}
}
