$variant: 'light';

@import "gnome-shell-sass/_starlabs-colors";
@import "gnome-shell-sass/_colors";
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_dock";
