[submodule "extensions/gnome-shell-extension-lockkeys"]
	path = extensions/gnome-shell-extension-lockkeys
	url = https://github.com/kazysmaster/gnome-shell-extension-lockkeys.git
[submodule "gtk/yaru"]
	path = gtk/yaru
	url = https://github.com/ubuntu/yaru.git
[submodule "gnome-shell/yaru"]
	path = gnome-shell/yaru
	url = https://github.com/ubuntu/yaru.git
