Package: starlabstheme-gnome-shell
Source: starlabstheme-master
Version: 0.0.52
Architecture: all
Maintainer: Star Labs Systems <support@starlabs.systems>
Installed-Size: 891
Conflicts: starlabs-gnome-shell-theme
Replaces: starlabs-gnome-shell-theme
Provides: starlabs-gnome-shell-theme
Section: misc
Priority: optional
Homepage: https://starlabs.systems
Description: Star Labs Theme.
