@mixin undershoot($p) {

}

@mixin pundershoot($p) {
	$_gradient_dir: left;
	$_dash_bg_size: 10px 1px;
	$_gradient_repeat: repeat-x;
	$_bg_pos: center $p;

	background-color: transparent;

	@if ($p == left) or ($p == right) {
		$_gradient_dir: top;
		$_dash_bg_size: 1px 10px;
		$_gradient_repeat: repeat-y;
		$_bg_pos: $p center;
	}

  padding-#{$p}: 1px;
  background-size: $_dash_bg_size;
  background-repeat: $_gradient_repeat;
  background-origin: content-box;
  background-position: $_bg_pos;
  border: none;

  // Replace dashed line with light shadow
  $_us_shadow_color: if($variant=='light', $silk, lighten($jet, 8%));
  $_us_shadow_alpha: 0.8;

  @if ($p == left) {
    box-shadow: inset 2px 0 0 transparentize($_us_shadow_color,$_us_shadow_alpha),
                inset 1px 0 0 transparentize(darken($_us_shadow_color,20%),$_us_shadow_alpha);
  }
  @else if ($p == right) {
    box-shadow: inset -2px 0 0 transparentize($_us_shadow_color,$_us_shadow_alpha),
                inset -1px 0 0 transparentize( darken($_us_shadow_color,20%),$_us_shadow_alpha);
  }
  @else if ($p == top) {
    box-shadow: inset 0 2px 0 0 transparentize($_us_shadow_color,$_us_shadow_alpha),
                inset 0 1px 0 0 transparentize(darken($_us_shadow_color,20%),$_us_shadow_alpha);
  }
  @else if ($p == bottom) {
      box-shadow: inset 0 -2px 0 0 transparentize($_us_shadow_color,$_us_shadow_alpha),
                  inset 0 -1px 0 0 transparentize(darken($_us_shadow_color,20%),$_us_shadow_alpha);
  }
}


