$variant: 'dark';

$accent1: #003059;
$accent2: #0068bf;
$accent3: #2195f2;

@import "gnome-shell-sass/_starlabs";
@import "gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_dock";
@import "gnome-shell-sass/_oliverqueen";
