
 infobar {
  $_generic_bg: $bg_color;
  @each $t, $c in ("", $_generic_bg),
                  (".info", $_generic_bg),
                  (".question", $_generic_bg),
                  (".warning", $warning_color),
                  ('.error', $error_color) {
    &#{$t} {
      background-color: $c;
      color: $text_color;
      border-bottom: 1px solid $borders_color;
      selection { @extend %selected_items; }
    }
  }
  *:link { @extend %link_selected; }
}

