%titlebar, headerbar {
	@include fill(normal,$alpha3,light);
	&:backdrop {
		@include fill(normal,$alpha3,dark);
	}
	padding: 0 6px;
	min-height: 40px;
	label:backdrop {
		color: inherit;
	}
	.title {
		font-weight: 600;
		padding-left: 12px;
		padding-right: 12px;
	}
	.subtitle {
		font-size: smaller;
		padding-left: 12px;
		padding-right: 12px;
	}

	&, {
		switch {
			@include switch;
		}
	
		entry, %dark_entry { //Remove dark entry
			@include entry(normal);
			&:disabled {
				@include entry(disabled);
			}
			&:backdrop {
				@include entry(backdrop);
			}
		image {
			color: $accent2;
			&:hover {
				color: $accent3;
			}
		}
	}
	.text-button:not(.suggested-action) {
		&.default {
			&, &:active, &:hover, &:focus {
				color: $accent2;
			}
		}
	}
	button.default {
		label {
			color: $white;
		}
	}

	button, button.flat, button.titlebutton.appmenu {
		@include clickable(normal);
		&:focus {
			@include clickable(focus);
		}
		&:hover {
			@include clickable(hover);
		}
		&:active {
			@include clickable(active);
		}
		&:disabled {
			@include clickable(disabled);
		}
		&:backdrop {
			@include clickable(backdrop);
			&:focus {
				@include clickable(backdrop-focus);
			}
			&:hover {
				@include clickable(backdrop-hover);
			}
			&:active {
				@include clickable(backdrop-active);
			}
		}
		.destructive-action {
			&:focus {
				@include clickable(focus,solid,$failure);
			}
			&:hover {
				@include clickable(hover,solid,$failure);
			}
			&:active {
				@include clickable(active,solid,$failure);
			}
			&:disabled {
				@include clickable(disabled,solid,$failure);
			}
			&:backdrop {
				@include clickable(backdrop,solid,$failure);
				&:focus {
					@include clickable(backdrop-focus,solid,$failure);
				}
				&:hover {
					@include clickable(backdrop-hover,solid,$failure);
				}
				&:active {
					@include clickable(backdrop-active,solid,$failure);
				}
			}	
		}
		.suggested-action {
			&:focus {
				@include clickable(focus,solid,$success);
			}
			&:hover {
				@include clickable(hover,solid,$success);
			}
			&:active {
				@include clickable(active,solid,$success);
			}
			&:disabled {
				@include clickable(disabled,solid,$success);
			}
			&:backdrop {
				@include clickable(backdrop,solid,$success);
				&:focus {
					@include clickable(backdrop-focus,solid,$success);
				}
				&:hover {
					@include clickable(backdrop-hover,solid,$success);
				}
				&:active {
					@include clickable(backdrop-active,solid,$success);
				}
			}
		}
	}


.linked:not(.path-bar):not(.stack-switcher):not(buttonbox) button, .linked:not(.vertical) entry {
			&:focus {
				& + entry {
//					border-left-color: _border_color($graphite);
				}
				& + button {
//					border-left-color: transparent;
				}
				& + entry, & + button {
					&:disabled {
//						border-left-color: transparent;
					}
					&:backdrop {
//						border-left-color: _border_color($headerbar_bg_color);
					}
				}
			}
			&:not(:last-child) {
				margin-right: 4px;
			}
		}
		.stack-switcher.linked button, buttonbox.linked button, buttonbox.linked button.text-button ~ button {
//			border-style: solid;
//			border-color: lighten($inkstone, 5%);
			&:not(:only-child) {
				border-width: 1px 0;
			}
			&:first-child {
				border-width: 1px 0 1px 1px;
			}
			&:last-child {
				border-width: 1px 1px 1px 0;
			}
			&:backdrop {
				&, &:checked {
//					border-color: lighten($inkstone, 3%);
				}
			}
		}
	}

  &.selection-mode {
    $c: $success_color;
    color: $selected_fg_color;
    border-color: _border_color($c);
    background-color: $c;

    ~ separator, separator {
      background-image: image(_border_color($c));
    }

    &:backdrop {
      $c: _backdrop_color($c);
      border-color: _border_color($c);
      background-color: $c;

      ~ separator, separator {
        background-image: image(_border_color($c));
      }
    }

    .subtitle:link { @extend *:link:selected;  }

    button {
        @each $state, $type in ("", "normal"),
                            (":hover", "hover"),
                            (":hover:backdrop", "backdrop-hover"),
                            (":active, &:checked", "active"),
                            (":disabled", "insensitive"),
                            (":disabled:active, &:disabled:checked", "insensitive-active"),
                            (":backdrop", "backdrop"),
                            (":backdrop:active, &:backdrop:checked", 'backdrop-active'),
                            (":backdrop:disabled", 'backdrop-insensitive'),
                            (":backdrop:disabled:active, &:backdrop:disabled:checked", 'backdrop-insensitive-active') {
          $fill: $success_color;
          $color: white;
          &, &.selection-menu {
            &#{$state} {
              @include clickable($type);
              outline-color: white;
            }
          }
        }

      &.text-button:not(:hover) {
        border-color: transparentize(white, 0.7);
      }

      &.flat, &.selection-menu {
        &, &:backdrop {
          &, &:disabled { @include clickable(undecorated); }
        }
      }

//      &.suggested-action {
  //      @each $state, $type in ("", "normal"), (":hover", "hover"), (":hover:backdrop", "backdrop-hover"),
    //    (":active", "active"), (":disabled", "insensitive"),
//        (":backdrop", "backdrop"), (":backdrop:disabled", 'backdrop-insensitive') {
  //        $c: white;
    //      $tc: $success_color;
      //    &#{$state} { @include clickable($type, $accent2;)} }
     // }

      &.selection-menu {
        &:backdrop, & {
          padding-left: 10px;
          padding-right: 10px;

          arrow { -GtkArrow-arrow-scaling: 1; }

          .arrow {
            -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
          }
        }
      }
    }
  }

.tiled &,
.tiled-top &,
.tiled-right &,
.tiled-bottom &,
.tiled-left &,
.maximized &,
.fullscreen & {
//	border-color: transparentize($accent2, 0.7);
	&.selection-mode {
		border: none;
	}
	&:backdrop, & {
		border-radius: 0;
	}
}

  &.default-decoration {
    min-height: 26px;
    padding: 4px 6px;

    button.titlebutton {
      min-width: 26px;
      min-height: 26px;
      margin: 0;
      padding: 0;
    }
  }

  .solid-csd & {
    &:backdrop, & {
      &:dir(rtl), &:dir(ltr) { // specificity bump
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

headerbar {
	entry, spinbutton, button {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	switch, separator {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.background .titlebar {
	&:backdrop, & {
		border-top-left-radius: $omega1;
		border-top-right-radius: $omega1;
	}
}

.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
	&:backdrop, & {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

headerbar {
	window separator:first-child + &, window &:first-child {
	&:backdrop, & {
		border-top-left-radius: $omega1;
	}
}
window &:last-child {
	&:backdrop, & {
		border-top-right-radius: $omega1;
	}
}

window stack & {
	&:first-child, &:last-child {
		&:backdrop, & {
			border-top-left-radius: $omega1;
			border-top-right-radius: $omega1;
		}
	}
}

window.tiled &, window.tiled-top &, window.tiled-right &, window.tiled-bottom &, window.tiled-left &, window.maximized &, window.fullscreen &, window.solid-csd & {
	&, &:backdrop {
		&, &:first-child, &:last-child, &:only-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	}
}

.titlebar:not(headerbar) {
	window.csd > & {
		padding: 0;
		background-color: transparent;
		background-image: none;
		border-style: none;
		border-color: transparent;
		box-shadow: none;
	}
	> separator {
//		background-color: $dark1;
	} 
//	@extend %titlebar;
	@include fill(normal,$alpha2);
}

