* {
        padding: 0;
        -GtkToolButton-icon-spacing: 4;
        -GtkTextView-error-underline-color: $error_color;
        -GtkScrolledWindow-scrollbar-spacing: 0;
        -GtkToolItemGroup-expander-size: 11;
        -GtkWidget-text-handle-width: 20;
        -GtkWidget-text-handle-height: 24;
        -GtkDialog-button-spacing: 4;
        -GtkDialog-action-area-border: 0;
        outline-color: gtkalpha(currentColor, 0.3);
        outline-style: dashed;
        outline-offset: -3px;
        outline-width: 1px;
        -gtk-outline-radius: 0px;
        -gtk-secondary-caret-color: $selected_bg_color
}

