.sidebar {
	@include header(true);
	list {
		@include header(true);
	}
	paned & {
		&.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & {
			border-style: none;
			border-top: 1px solid $dark2;
			&:backdrop {
				border-top: 1px solid lighten($dark2, $beta1);
			}
		}
	}
}

stacksidebar {
	row {
		padding: 10px 4px;
		> label {
			padding-left: 6px;
			padding-right: 6px;
		}
		&:selected > label {
			padding-left: 9px;
		}
		&.needs-attention > label {
			@extend %needs_attention;
			background-size: 6px 6px, 0 0;
		}
	}
}
