.candidate-popup-content {
	padding: 0.5em;
	spacing: 0.3em;
}
.candidate-index {
	padding: 0 0.5em 0 0;
	color: $white;
}
.candidate-box {
	padding: 0.3em 0.5em 0.3em 0.5em;
	border-radius: 4px;
	@include clickable(normal);
	&:selected, &:hover {
		@include clickable(hover);
	}
}

.candidate-page-button-box {
	height: 2em;
	.vertical & {
		padding-top: 0.5em;
	}
	.horizontal & {
		padding-left: 0.5em;
	}
}
.candidate-page-button {
	padding: 4px;
}
.candidate-page-button-previous {
	border-radius: 4px 0px 0px 4px;
	border-right-width: 0;
}
.candidate-page-button-next {
	border-radius: 0px 4px 4px 0px;
}
.candidate-page-button-icon {
	icon-size: 1em;
}
