.end-session-dialog {
	spacing: 42px;
}
.end-session-dialog-list {
	padding-top: 20px;
}
.end-session-dialog-layout {
	padding-left: 17px;
	&:rtl {
		padding-right: 17px;
	}
}
.end-session-dialog-description {
	width: 28em;
	padding-bottom: 10px;
	&:rtl {
		text-align: right;
	}
}
.end-session-dialog-warning {
	width: 28em;
	color: $warning;
	padding-top: 6px;
	&:rtl {
		text-align: right;
	}
}
.end-session-dialog-logout-icon {
	border-radius: $omega1;
	width: 48px;
	height: 48px;
	background-size: contain;
}
.end-session-dialog-shutdown-icon {
	color: $accent2;
	width: 48px;
	height: 48px;
}
.end-session-dialog-inhibitor-layout {
	spacing: 16px;
	max-height: 200px;
	padding-right: 65px;
	padding-left: 65px;
}
.end-session-dialog-session-list, .end-session-dialog-app-list {
	spacing: 1em;
}
.end-session-dialog-list-header {
	font-weight: bold;
	&:rtl {
		text-align: right;
	}
}
.end-session-dialog-app-list-item, .end-session-dialog-session-list-item {
	spacing: 1em;
}
.end-session-dialog-app-list-item-name, .end-session-dialog-session-list-item-name {
	font-weight: bold;
}
.end-session-dialog-app-list-item-description {
	color: $white;
	font-size: 10pt;
}

