StEntry {
	border-radius: $omega1;
	border-width: 1px;
	min-height: 22px;
	padding: 4px;
	@include entry(normal);
	&:hover {
		@include entry(hover);
	}
	&:focus {
		@include entry(focus)
	}
	&:insensitive {
		@include entry(insensitive);
	}
//	selection-background-color: darken($dark1, $beta1);
//	selected-color: $white;
	StIcon.capslock-warning {
		icon-size: 16px;
		warning-color: $warning;
		padding: 0 4px;
	}
}
