.login-dialog-banner-view {
	padding-top: 24px;
	max-width: 23em;
}

.login-dialog {
	border: none;
	background-color: transparent;
	StEntry {
		@include entry(normal);
		&:hover  {
			@include entry(hover);
		}
		&:focus {
			@include entry(active);
		}
		&:insensitive {
			@include entry(disabled);
		}
	}
	.modal-dialog-button-box {
		spacing: 3px;
	}
	.modal-dialog-button {
		padding: 4px 18px;
		@include clickable(normal);
		&:active, &:focus {
			@include clickable(active);
		}
		&:hover {
			@include clickable(hover);
		}
		&:insensitive {
			@include clickable(disabled);
		}
		&:default {
			padding-bottom: 5px;
			padding-top: 5px;
			@include clickable(normal, solid, $accent2);
			&:hover {
				@include clickable(hover, solid, $accent2);
			}
			&:focus {
				@include clickable(focus, solid, $accent2);
			}
			&:active {
				@include clickable(active, solid, $accent2);
			}
			&:insensitive {
				@include clickable(disabled, solid, $accent2);
			}
		}
	}
}

.login-dialog-logo-bin {
	padding: 24px 0px;
}
.login-dialog-banner {
	color: $white;
}
.login-dialog-button-box {
	spacing: 5px;
}
.login-dialog-message-warning {
	color: $warning;
}
.login-dialog-message-hint {
	padding-top: 0;
	padding-bottom: 20px;
}
.login-dialog-user-selection-box {
	padding: 100px 0px;
}
.login-dialog-not-listed-label {
	padding-left: 2px;
	.login-dialog-not-listed-button:focus &, .login-dialog-not-listed-button:hover & {
		color: $white;
	}
}
.login-dialog-not-listed-label {
	font-size: 90%;
	font-weight: normal;
	color: $white;
	padding-top: 1em;
}
.login-dialog-user-list-view {
	-st-vfade-offset: 1em;
}
.login-dialog-user-list {
	spacing: 12px;
	width: 23em;
	&:expanded .login-dialog-user-list-item:selected {
		@include clickable(focus);
	}
	&:expanded .login-dialog-user-list-item:logged-in {
		border-right: 2px solid $accent2;
	}
}
.login-dialog-user-list-item {
	border-radius: 5px;
	padding: 6px;
	color: $white;
	&:ltr .user-widget {
		padding-right: 1em;
	}
	&:rtl .user-widget {
		padding-left: 1em;
	}
	.login-dialog-timed-login-indicator {
		height: 2px;
		margin-top: 6px;
		background-color: $white;
	}
	&:focus .login-dialog-timed-login-indicator {
		background-color: $white;
	}
}
.login-dialog-username, .user-widget-label {
	color: $white;
	font-size: 120%;
	font-weight: normal;
	text-align: left;
	padding-left: 15px;
}
.user-widget-label {
	&:ltr {
		padding-left: 14px;
	}
	&:rtl {
		padding-right: 14px;
	}
}
.login-dialog-prompt-layout {
	padding-top: 24px;
	padding-bottom: 12px;
	spacing: 8px;
	width: 23em;
}
.login-dialog-prompt-label {
	color: $white;
	font-size: 110%;
	padding-top: 1em;
}
.login-dialog-session-list-button StIcon {
	icon-size: 1.25em;
}
.login-dialog-session-list-button {
	@include clickable(normal);
	&:hover,&:focus {
		@include clickable(hover);
	}
	&:active {
		@include clickable(active);
	}
}

