.headline {
	font-size: 110%;
}
.lightbox {
	@include fill(normal, $alpha3);
}
.flashspot {
	@include fill(normal, $alpha3);
}
.modal-dialog {
	border-radius: $omega1;
	@include fill(normal, $alpha3);
	StEntry {
		@include entry(normal);
		&:focus {
			@include entry(focus);
		}
		&:insensitive {
			@include entry(disabled);
		}
	}
	.button {
		@include clickable(normal, $alpha2);
		&:hover {
			@include clickable(hover, $alpha2, $accent2);
		}
		&:active {
			@include clickable(active, $alpha3, $accent2);
		}
	}
	.modal-dialog-content-box {
		padding: 24px;
	}
	.run-dialog-entry {
		width: 20em;
		margin-bottom: 6px;
	}
	.run-dialog-error-box {
		padding-top: 16px;
		spacing: 6px;
	}
	.run-dialog-button-box {
		padding-top: 1em;
	}
	.run-dialog-label {
		@include fontsize($font-size + 1.1);
		font-weight: normal;
		padding-bottom: .4em;
	}
}
.mount-dialog-subject, .end-session-dialog-subject {
	@include fontsize($font-size * 1.3);
}
.message-dialog-main-layout {
	padding: 12px 20px 0;
	spacing: 12px;
}
.message-dialog-content {
	max-width: 28em;
	spacing: 20px;
}
.message-dialog-icon {
	min-width: 48px;
	icon-size: 48px;
}
.message-dialog-title {
	font-size: 135%;
	font-weight: normal;
}
.message-dialog-subtitle {
	color: $white;
	font-weight: normal;
}
