.osd-window {
	text-align: center;
	font-weight: bold;
	spacing: 1em;
	margin: 32px;
	min-width: 64px;
	min-height: 64px;
	border-radius: $omega1;
	padding: 12px;
	.osd-monitor-label {
		font-size: 3em;
	}
	.level {
		height: 1em;
		border-radius: 0.3em;
		color: red;
		-barlevel-height: 0.3em;
		-barlevel-background-color: $accent2;
		-barlevel-active-background-color: $accent2;
		-barlevel-overdrive-color: $failure;
		-barlevel-overdrive-separator-width: 0.2em;
	}

}
.pad-osd-window {
	padding: 32px;
	.pad-osd-title-box {
		spacing: 12px;
	}
	.pad-osd-title-menu-box {
		spacing: 6px;
	}
}
.combo-box-label {
	width: 15em;
}

