StScrollView {
	&.vfade {
		-st-vfade-offset: 68px;
	}
	&.hfade {
		-st-hfade-offset: 68px;
	}
}

StScrollBar {
	padding: 0;
	StScrollView & {
		min-width: 14px;
		min-height: 14px;
}
StBin#trough {
	border-radius: 0;
	background-color: transparent;
}
StButton#vhandle, StButton#hhandle {
	border-radius: 8px;
	@include clickable(normal);
	margin: 3px;
	&:hover {
		@include clickable(hover);
	}
	&:active {
		@include clickable(active);
	}
	}
}

