.screen-shield-arrows {
	padding-bottom: 3em;
}
.screen-shield-arrows Gjs_Arrow {
	color: $white;
	width: 80px;
	height: 48px;
	-arrow-thickness: 12px;
	arrow-shadow: $shadow1;
}

.screen-shield-clock {
	color: white;
	text-shadow: $shadow1;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1.5em;
}

.screen-shield-clock-time {
	font-size: 72pt;
	text-shadow: $shadow1;
	font-feature-settings: "tnum";
}

.screen-shield-clock-date {
	font-size: 28pt;
	font-weight: normal;
}

.screen-shield-notifications-container {
	spacing: 6px;
	width: 30em;
	background-color: transparent;
	max-height: 500px;
	.summary-notification-stack-scrollview {
		padding-top: 0;
		padding-bottom: 0;
	}
	.notification, .screen-shield-notification-source {
		padding: 12px 6px;
		@include fill(normal, $alpha3);
		border-radius: 5px;
	}
	.notification {
		margin-right: 15px;
	}
}
.screen-shield-notification-label {
	font-weight: bold;
	padding: 0px 0px 0px 12px;
}
.screen-shield-notification-count-text {
	padding: 0px 0px 0px 12px;
}
#panel.lock-screen {
	background-color: transparent;
}
.screen-shield-background {
	background: black;
	box-shadow: shadow1;
}
#lockDialogGroup {
	background-image: url("assets/Wallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#screenShieldNotifications {
	StButton#vhandle, StButton#hhandle {
		@include clickable(normal);
		&:hover, &:focus {
			@include clickable(hover);
		}
		&:active {
			@include clickable(hover)
		}
	}
}


