.toggle-switch {
	width: 65px;
	height: 22px;
	background-size: contain;
}
@each $v in us, intl {
	.toggle-switch-#{$v} {
		background-image: url("toggle-off.svg");
		&:checked {
			background-image: url("toggle-on.svg");
		}
	}
}	
