#panel {
	font-weight: 450;
	height: 1.86em;
	font-feature-settings: "tnum";
	#panelLeft, #panelCenter {
		spacing: 4px;
	}
	&.solid {
		@include fill(normal, $alpha3);
		.panel-button {
			&:hover, &:active, &:overview, &:focus, &:checked {
				@include clickable(normal, $alpha2);
			}
		}
	}
	&, &,unlock-screen, &.login-screen, &.lock-screen {
		@include fill(normal, $alpha2);
		.panel-button {
			&:hover, &:active, &:overview, &:focus, &:checked {
				@include clickable(normal, $alpha2);
			}
		}
	}
	&, &,solid, &,unlock-screen, &.login-screen, &.lock-screen {
		.panel-button {
			-natural-hpadding: 12px;
			-mininun-hpadding: 6px;
			font-weight: 450;
			.app-menu-icon {
				margin-left: 4px;
				margin-right: 4px;
			}
		}
		.system-status-icon {
			icon-size: 1.09em;
			padding: 0 5px;
		}
		.panel-corner {
			-panel-corner-background-color: transparent;
			-panel-corner-radius: $omega1;
			-panel-corner-border-width: 2px;
			-panel-corner-border-color: transparent;
			&:active, &:overview, &:focus {
				@include clickable(focus, $alpha2);
			}
			&:hover {
				@include clickable(hover, $alpha2);

			}
			&:active, &:overview, &:focus, &:checked {
				@include clickable(active);
				& > .system-status-icon {
					icon-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
				}
			}
			.system-status-icon {
				icon-size: 1.09em; padding: 0 5px;
			}
			.unlock-screen &, .login-screen &, .lock-screen & {
				&:focus, &:hover, &:active {
					@include clickable(hover, $alpha2);
				}
			}
		}
	}

	.panel-status-indicators-box, .panel-status-menu-box {
		spacing: 2px;
	}
	.power-status.panel-status-indicators-box {
		spacing: 0;
	}
	.screencast-indicator {
		color: $warning;
	}
	.remote-access-indicator {
		color: $warning;
	}

}



