// Star Labs
// Dark
$dark1: #3d3d44;
$dark2: #17171d;
$dark3: #000000;

// White
$white1: #ffffff;
$white2: #fafafa;
$white3: #c6c6c6;

$white: #ffffff;

// States
$success: #0ba011;
$warning: #c98810;
$failure: #b20903;

// Use Ubuntu to names to make upstream changes easier

// Blacks
$jet: $dark1; // #181818;
$inkstone: $dark1; // #3D3D3D;
$slate: $dark1; // #5D5D5D;
$graphite: $dark1; // #666666;

// Whites
$white: $white1;// #FFFFFF;
$porcelain: $white2; // #F7F7F7;
$silk: $white2; // #CCC;
$ash: $white3; // #878787;

// Utility
$red: $failure; // #ED3146;
$orange: $accent2; // #E95420;
$yellow: $warning; // #F89B0F;
$green: $success; // #3EB34F;
$blue: $accent2; // #19B6EE;
$purple: $accent3; // #762572;

// Terminal colors
$terminal_bg_color: $accent1; // #300A24;
$terminal_base_color: $accent1; // lighten($terminal_bg_color, 5%);
$terminal_fg_color: $white; // white;
$terminal_borders_color: $accent1; // darken($terminal_bg_color, 10%);

// Widget Colors
$headerbar_bg_color: $dark1; // #2B2929;
$menubar_bg_color: $dark1; // $headerbar_bg_color;
$headerbar_fg_color: $white1; // $porcelain;
$headerbar_text_color: $white1; // $silk;
$headerbar_insensitive_color: mix($dark1, $white, 50%); // mix($headerbar_fg_color, $headerbar_bg_color, 50%);
$headerbar_border_color: $dark1;
//
$backdrop_headerbar_bg_color: lighten($dark1, 5%); // lighten($headerbar_bg_color, 7%);
$backdrop_headerbar_fg_color: mix($white, $dark1, 70%); // mix($headerbar_fg_color, $headerbar_bg_color, 70%);
$backdrop_headerbar_text_color: mix($white, $dark1, 70%); // mix($headerbar_text_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_headerbar_insensitive_color: mix($white, $dark1, 70%); // mix($headerbar_fg_color, $backdrop_headerbar_bg_color, 70%);
$backdrop_menubar_bg_color: lighten($dark1, 5%); // lighten($menubar_bg_color, 5%);
