// Star Labs

// Dark
$dark1: #3d3d44;
$dark2: #17171d;
$dark3: #000000;

// White
$white1: #ffffff;
$white2: #fafafa;
$white3: #cfd8dc;

$white: #ffffff;

// States
$default1: #004a00;
$success: #0ba011;
$default2: #49a83c;
$alert: #f99b11;
$warning: #c98810;
$failure: #b20903;

$alpha: 0.1;
$radius: 10px;
$top-shadow: 0 -2px 16px 0 rgba(0,0,0,0.15);
$bottom-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
$full-shadow: 0 1px 4px 0 rgba(0,0,0,1);


// Use Ubuntu to names to make upstream changes easier

// Blacks
$jet: $dark1; // #181818;
$inkstone: $dark1; // #3D3D3D;
$slate: $dark1; // #5D5D5D;
$graphite: $dark1; // #666666;

// Whites
$white: $white1;// #FFFFFF;
$porcelain: $white2; // #F7F7F7;
$silk: $white2; // #CCC;
$ash: $white3; // #878787;

// Purples
$aubergine: $accent3;
$purple: $accent2;
$light_aubergine: $accent3;
$mid_aubergine: $accent2;
$dark_aubergine: $accent1;

// Reds
$red: $failure;

// Oranges
$orange: $warning;

// Yellows
$yellow: $alert;

// Greens
$green: $success;

// Blues
$blue: $accent2;
$linkblue: $accent3;
$darkblue: $accent1;

// Widget Colors
$headerbar_bg_color: if($header == 'dark', $dark2, $white3);
$menubar_bg_color: $headerbar_bg_color;
$headerbar_fg_color: if($header == 'dark', $white1, $dark1);
$headerbar_text_color: $headerbar_fg_color;
$headerbar_insensitive_color: mix($headerbar_bg_color, $headerbar_fg_color, 50%);
$headerbar_border_color: $headerbar_bg_color;
//
$backdrop_headerbar_bg_color: lighten($headerbar_bg_color, 5%);
$backdrop_headerbar_fg_color: lighten($headerbar_fg_color, 5%);
$backdrop_headerbar_text_color: $backdrop_headerbar_fg_color;
$backdrop_headerbar_insensitive_color: lighten($headerbar_insensitive_color, 5%);
$backdrop_menubar_bg_color: lighten($headerbar_bg_color, 5%);
// Terminal colors
$terminal_bg_color:  if($variant == 'dark', darken($accent1,10%), if($header == 'light', mix($accent1,$headerbar_bg_color, 15%), $accent1)); // #300A24;
$terminal_base_color: $accent1; // lighten($terminal_bg_color, 5%);
$terminal_fg_color: $white; // white;
$terminal_borders_color: $accent1; // darken($terminal_bg_color, 10%);
// Derived

$fg: if($variant == 'light', $dark2, $white2);
$bg: if($variant == 'light', $white2, $dark2);
$fg-secondary: if($variant == 'light', $dark3, $white3);
$fg-disabled: if($variant == 'light', $dark1, $white1);
$bg-transparent: transparentize($headerbar_bg_color, $alpha);

$accent-normal: $accent1;
$accent-hover: $accent2;
$accent-active: $accent3;
$accent-normal-transparent: transparentize($accent-normal, $alpha);
$accent-hover-transparent: transparentize($accent-hover, $alpha);
$accent-active-transparent: transparentize($accent-active, $alpha);
$accent-disabled: mix($accent2,$bg,50%);
$accent-fg: $white1;
$accent-bg: mix($accent2,$bg,5%);

