@mixin entry($type, $fill:$dark1, $color:$white) {
	@if $type==normal {
		background-color: darken($fill, $beta1);
		color: $color;
		border-bottom: 2px solid $dark2;
		transition: $tran2;
	}
	@else if $type==backdrop {
		background-color: $fill;
		color: darken($color, $beta1);
		border-bottom: 2px solid lighten($dark2, $beta1);
	}
	@else if $type==active {
		background-color: darken($fill, $beta2);
		color: $color;
		border-bottom: 2px solid $accent2;
	}
	@else if $type==backdrop-active {
		background-color: darken($fill, $beta1);
		color: darken($color, $beta1);
		border-bottom: 2px solid lighten($accent2, $beta1);
	}
	@else if $type==hover {
		background-color: lighten($fill, $beta1);
		color: darken($color, $beta1);
		border-bottom: 2px solid lighten($dark2, $beta1);
	}
	@else if $type==backdrop-hover {
		background-color: lighten($fill, $beta2);
		color: darken($color, $beta2);
		border-bottom: 2px solid lighten($dark2, $beta2);
	}
	@else if $type==disabled {
		opacity: $alpha1;
	}
}
