%underline_focus_effect {
  // indeterminate is there to lazily force the style
  transition: 300ms ease;
  transition-property: box-shadow, color;
  border-color: transparent;

  &, &:backdrop { box-shadow: inset 0 -2px transparent; }
}

.path-bar button:dir(ltr), .path-bar button:dir(rtl) {
  @extend %underline_focus_effect;
  background-color: transparent;
  color: $insensitive_fg_color;
  border-style: none;
  border-radius: 0;
  box-shadow: none;

  &:hover { 
    box-shadow: inset 0 -2px transparentize($insensitive_fg_color, 0.5);
    background-color: transparent;
    color: $insensitive_fg_color; 
  }
  
  &:active { box-shadow: inset 0 -2px $insensitive_fg_color; }

  &:checked, &:checked:active {
    color: $headerbar_fg_color;
    background-color: transparent;
    &:hover { box-shadow: inset 0 -2px $insensitive_fg_color; }
    &:hover, &:backdrop { background-color: transparent; }
  }

  &:backdrop {
    background-color: transparent;
    color: $backdrop_insensitive_color;
    border-color: transparent;
    box-shadow: inset 0 -2px transparent;
    &:hover { 
      box-shadow: inset 0 -2px transparentize($insensitive_fg_color, 0.5); 
      background-color: transparent;
      color: $backdrop_insensitive_color;
    }
  }

  &.text-button, &.image-button, & {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 8px; }
    label:first-child { padding-left: 8px; }
  }

  image {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.slider-button {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;

    &:hover { color: $selected_bg_color; }
    &:disabled image {
      // make disabled arrows less prominent
      opacity: 0.3;
    }
  }
}

