@mixin active-fill($state) {
	@if $state==normal {
		background-color: $white;
		color: $dark1;
		transition: $tran1;
		border-bottom: 2px solid $white;
	}
	@else if $state==hover {
		border-buttom: 2px solid $accent2;
	}
	@else if $state==active {
		border-bottom: 2px solid $accent3;
	}
	@else if $state==disabled {
		opacity: $alpha1;
	}
	@else if $state==selected {
		border-botton: 2px solid $accent1;
	}
}
