@mixin button($type, $color: $white, $fill:transparent) {
	@if $type==normal {
		background-color: $fill;
		color: $color;
		border: none;
		border-radius: 0;
		border-bottom: 2px solid $fill;
	}
	@else if $type==hover {
		border-bottom: 2px solid $accent2;
	}
	@else if $type==active {
		border-bottom: 2px solid $accent3;
	}
	@else if $type==active-hover {
                border-bottom: 2px solid $accent1;
	}
	@else if $type==insensitive {
		opacity: $alpha1;
	}
	@else if $type==backdrop {
                border-bottom: 2px solid lighten($dark1, $beta1);
                color: lighten($color, $beta1);
	}
	@else if $type==backdrop-hover {
                border-bottom: 2px solid lighten($accent2, $beta1);
                color: lighten($color, $beta1);
	}
	@else if $type==backdrop-active {
                border-bottom: 2px solid lighten($accent3, $beta1);
	}
	@else if $type==backdrop-insensitive {
		opacity: $alpha1;
	}
}

