/* Switches */

.toggle-switch {
  color: inherit;
  width: 40px;
  height: 20px;
  background-size: contain;
  background-image: url("resource:///org/gnome/shell/theme/toggle-off.svg");

  &:checked {
    background-image: url("resource:///org/gnome/shell/theme/toggle-on.svg");
  }
}
