
// Headers
$header-dark: #1976D2;
$header-default: #2196F3;
$header-light: #BBDEFB;
$header-text: #FFFFFF;

// Windows
$accent: #607D8B;
$window-default: #ffffff;
$window-text-primary: #212121;
$window-text-secondary: #757575;
$divider: #BDBDBD;

// Blacks
$jet: $header-dark;
$inkstone: $header-default;
$slate: $header-light;
$graphite: $header-light;

// Whites
$white: $window-text-primary;
$porcelain: $window-text-primary;
$silk: $window-text-secondary;
$ash: $window-text-secondary;

// Utility
$red: $accent;
$orange: $accent;
$yellow: $accent;
$green: $accent;
$blue: $accent;
$purple: $accent;
