// Star Labs Palette
// Headers
$accent1: #6ec5ff;
$accent2: #2195f2;
$accent3: #0068bf;


$head-dark-bg: #455a64;
$head-norm-bg: #607d8b;
$head-lite-bg: #cfd8dc;
$head-norm-fg: #ffffff;

$white: #ffffff;

// Windows
$wind-norm-bg: if($variant == 'light', #ffffff, #212121);
$wind-prim-fg: if($variant == 'light', #212121, #ffffff);
$wind-seco-fg: #757575; 

// Accent
$accent: #448aff;

// Border
$border: #bdbdbd;

// Text
$text1: #212121;
$text2: #757575;

// Context Colors
$success: #a5d6a7;
$warning: #ffb74d;
$failure: #d50000;

// Alpha & Omega
$alpha1: 1; //0.3;
$alpha2: 1; //0.6;
$alpha3: 1; //0.9;
$omega1: 3px;
$omega2: 6px;
$omega3: 9px;
