$accent1:#9a0007;
$accent2:#d32f2f;
$accent3:#ff6659;

$variant: 'dark';
$header: 'dark';

@import '../../Master/gtk-3.0/_colors.scss';
@import '../../Master/gtk-3.0/_drawing.scss';
@import '../../Master/gtk-3.0/_common.scss';
@import '../../Master/gtk-3.0/_apps.scss';
@import '../../Master/gtk-3.0/_headerbar';
@import '../../Master/gtk-3.0/_colors-public.scss';
@import '../../Master/gtk-3.0/_barryallen.scss';
