.word-suggestions {
	font-size: 14pt;
	spacing: 12px;
	min-height: 20pt;
}

#keyboard {
    @include fill(normal);
}

.key-container {
	padding: 4px;
	spacing: 4px;
}
.keyboard-key {
	@include clickable(normal);
	min-height: 2em;
	min-width: 2em;
	font-size: 16pt;
	border-radius: $omega1;
	&:focus {
		@include clickable(focus);
	}
	&:hover, &:checked {
		@include clickable(hover);
	}
	&:active {
		@include clickable(active);
	}
	&:grayed {
		@include clickable(disabled);
	}
	&.default-key {
		@include clickable(normal);
		background-size: 24px;
	}
	&.enter-key {
		@include clickable(normal);
		background-image: url("key-enter.svg");
		&:active {
			@include clickable(active);
		}
	}
	&.shift-key-lowercase {
		background-image: url("key-shift.svg");
	}
	&.shift-key-uppercase {
		background-image: url("key-shift-uppercase.svg");
	}
	&.shift-key-uppercase:latched {
		background-image: url("key-shift-latched-uppercase.svg");
	}
	&.hide-key {
		background-image: url("key-hide.svg");
	}
	&.layout-key {
		background-image: url("key-layout.svg");
	}
}
.keyboard-subkeys {
	color: $white;
	-arrow-border-radius: 10px;
	-arrow-background-color: $accent2;
	-arrow-border-width: 2px;
	-arrow-border-color: $accent2;
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 5px;
}



