
/* Polkit Dialog */

.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
  &:rtl {
    padding-left: 0px;
    padding-right: 10px;
  }
}

  .polkit-dialog-user-root-label {
    color: $warning_color;
  }

  .polkit-dialog-user-icon {
    border-radius: $small_radius;
    background-size: contain;
    width: 48px;
    height: 48px;
  }

