.popup-menu {
	min-width: 15em;
	.popup-sub-menu {
		@include clickable(normal);
	}
	.popup-menu-content {
		padding: 1em 0em;
	}
	.popup-menu-item {
		spacing: 12px;
		border-top: 1px solid transparent;
		&:ltr {
			padding: .4em 1.75em .4em 0em;
		}
		&:rtl {
			padding: .4em 0em .4em 1.75em;
		}
		&.selected {
			@include clickable(focus);
		}
		&:active {
			@include clickable(active);
		}
		&:insensitive {
			@include clickable(disabled);
		}
	}
	.popup-inactive-menu-item {
		@include clickable(normal);
		&:insensitive {
			@include clickable(disabled);
		}
	}
	&.panel-menu {
		-boxpointer-gap: 4px;
		margin-bottom: 1.75em;
	}
}
.popup-menu-ornament {
	text-align: right;
	width: 1.2em;
}
.popup-menu-boxpointer, .candidate-popup-boxpointer {
	@include clickable(normal);
	-arrow-border-radius: $omega1;
	-arrow-border-width: 1px;
	-arrow-base: 24px;
	-arrow-rise: 11px;
}
.popup-separator-menu-item {
	height: 1px;
	margin: 6px 64px;
	background-color: transparent;
	border-color: transparent;;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

