
/* Slider */

.slider {
  $_bg: $indication_bg_color;
  $_inactive_bg: $inactive_indication_bg_color;
  height: 1em;
  -barlevel-height: 0.2em; //increase the height because of the border removal
  -barlevel-background-color: $_inactive_bg; //background of the trough
  -barlevel-border-color: $borders_color; //trough border color
  -barlevel-active-background-color: $_bg; //active trough fill
  -barlevel-active-border-color: $_bg; //active trough border
  -barlevel-overdrive-color: $destructive_color;
  -barlevel-overdrive-border-color: darken($destructive_color,10%);
  -barlevel-overdrive-separator-width: 0.2em;
  -barlevel-border-width: 0px; //remove the border for a more flat trough
  -slider-handle-radius: 8px;
  color: $fg_color; //Color of the knob/slider-handle

  /* START: VERSION SPECIFIC CODE (< 3.29.90) */
  -slider-height: 0.2em; //increase the height because of the border removal
  -slider-background-color:  $_inactive_bg;//background of the trough
  -slider-border-color: $borders_color; //trough border color
  -slider-active-background-color: $_bg; //active trough fill
  -slider-active-border-color: $_bg; //active trough border
  -slider-border-width: 0px; //remove the border for a more flat trough
  /* END: VERSION SPECIFIC CODE (< 3.29.90) */
}

