Package: starlabstheme-plymouth
Source: starlabstheme-master
Version: 0.0.52
Architecture: all
Maintainer: Star Labs Systems <support@starlabs.systems>
Installed-Size: 786
Conflicts: starlabs-plymouth
Replaces: starlabs-plymouth
Section: misc
Priority: optional
Homepage: https://starlabs.systems
Description: Star Labs Theme.
