list.tweak-categories,
scrolledwindow viewport > stack list,
.sidebar list {
	background-color: $headerbar_bg_color;
	color: $headerbar_fg_color;
	& label, & image {
		color: $headerbar_fg_color;
	}
	row.activatable:hover, row:not(:selected):not(:backdrop):hover {
		color: $white;
		background-color: $accent3;
		& label, & image {
			color: $white;
		}
	}
	row.activatable:selected {
		color: $fg_color;
		background-color: $bg_color;
		& label, & image {
			color: $fg_color;
		}
	}
	&:backdrop {
		background-color: $backdrop_headerbar_bg_color;
		color: $backdrop_fg_color;
		transition: $backdrop_transition;
		& label, & image {
			color: $backdrop_fg_color;
		}

		row:selected {
			color: $backdrop_fg_color;
			background-color: $backdrop_bg_color;
			& label, & image {
				color: $backdrop_fg_color;
			}
		}
	}
}
separator,
paned > separator,
window > box > separator,
.sidebar,
stacksidebar.sidebar:dir(ltr) list, stacksidebar.sidebar.left list, stacksidebar.sidebar.left:dir(rtl) list, .sidebar:dir(ltr), .sidebar.left, .sidebar.left:dir(rtl), 
.nautilus-window paned > separator {
	&, &:backdrop {
		background-color: transparent;
		border-color: transparent;
		background: image(transparent);
	}
}



// Window Close button
button.titlebutton {
	&, &:hover, &:active {
		headerbar &, .titlebar &, & {
			&, &:backdrop {
				@extend %undecorated_button;
			}
		}
	}
	border-radius: $small_radius;
	min-height: 24px;
	min-width: 24px;
	padding: 2px;

	&:not(.close):not(.appmenu){
		&:hover {
			background-color: $accent2;
		}
		&:active {
			background-color: $accent3;
		}
	}

	&.close {
		background-color: $accent1;
		color: $white;
		&:hover {
			background-color: $accent2;
			color: $white;
		}
		&:active {
			background-color: $accent3;
			color: $white;
		}
	}
}

