@mixin button($include: all, $transparent: true, $shadow: true, $style: accent) {
	@if $include == all or $include == standard {
		@include clickable(normal, $shadow, $transparent, $style);
		&:focus {
			@include clickable(focus, $shadow, $transparent, $style);
		}
		&:hover {
			@include clickable(hover, $shadow, $transparent, $style);
		}
		&:active, &:checked, &:selected {
			@include clickable(active, $shadow, $transparent, $style);
		}
		&:disabled, &:insensitive  {
			@include clickable(disabled);
		}
		&:backdrop {
			@include clickable(backdrop, $shadow, $transparent, $style);
			&:focus {
				@include clickable(backdrop-focus, $shadow, $transparent, $style);
			}
			&:hover {
				@include clickable(hover, $shadow, $transparent, $style);
			}
			&:active, &:checked, &:selected {
				@include clickable(active, $shadow, $transparent, $style);
			}
			&:disabled, &:insensitive  {
				@include clickable(disabled);
			}	
		}
	}
	@if $include==all or $include==default {
		&.default:not(.suggested-action):not(.destructive-action) {
			@include clickable(normal, $shadow, $transparent, default);
			&:focus {
				@include clickable(focus, $shadow, $transparent, default);
			}
			&:hover {
				@include clickable(hover, $shadow, $transparent, default);
			}
			&:active, &:checked, &:selected {
				@include clickable(active, $shadow, $transparent, default);
			}
			&:disabled, &:insensitive  {
				@include clickable(disabled);
			}
			&:backdrop {
				@include clickable(backdrop, $shadow, $transparent, default);
				&:focus {
					@include clickable(backdrop-focus, $shadow, $transparent, default);
				}
				&:hover {
					@include clickable(hover, $shadow, $transparent, default)
				}
				&:active, &:checked, &:selected {
					@include clickable(active, $shadow, $transparent, default);
				}
				&:disabled, &:insensitive  {
					@include clickable(disabled);
				}	
			}
		}
	}
	@if $include==all or $include==suggested { 
		&.suggested-action, &.lock {
			@include clickable(normal, $shadow, $transparent, success);
			&:focus {
				@include clickable(focus, $shadow, $transparent, success);
			}
			&:hover {
				@include clickable(hover, $shadow, $transparent, success);
			}
			&:active, &:checked, &:selected {
				@include clickable(active, $shadow, $transparent, success);
			}
			&:disabled, &:insensitive  {
				@include clickable(disabled);
			}
			&:backdrop {
				@include clickable(backdrop, $shadow, $transparent, success);
				&:focus {
					@include clickable(backdrop-focus, $shadow, $transparent, success);
				}
				&:hover {
					@include clickable(hover, $shadow, $transparent, success)
				}
				&:active, &:checked, &:selected {
					@include clickable(active, $shadow, $transparent, success);
				}
				&:disabled, &:insensitive  {
					@include clickable(disabled);
				}	
			}
		}
	}
	@if $include==all or $include==destructive { 
		&.destructive-action {
			@include clickable(normal, $shadow, $transparent, failure);
			&:focus {
				@include clickable(focus, $shadow, $transparent, failure);
			}
			&:hover {
				@include clickable(hover, $shadow, $transparent, failure);
			}
			&:active, &:checked, &:selected {
				@include clickable(active, $shadow, $transparent, failure);
			}
			&:disabled, &:insensitive  {
				@include clickable(disabled);
			}
			&:backdrop {
				@include clickable(backdrop, $shadow, $transparent, failure);
				&:focus {
					@include clickable(backdrop-focus, $shadow, $transparent, failure);
				}
				&:hover {
					@include clickable(hover, $shadow, $transparent, failure)
				}
				&:active, &:checked, &:selected {
					@include clickable(active, $shadow, $transparent, failure);
				}
				&:disabled, &:insensitive  {
					@include clickable(disabled);
				}	
			}
		}
	}
}

@mixin entry($include: all, $shadow: true) {
	@if $include == all or $include == standard {
		@include entries(normal, $shadow);
		&:focus {
			@include entries(focus, $shadow);
		}
		&:hover {
			@include entries(hover, $shadow);
		}
		&:active, &:checked {
			@include entries(active, $shadow);
		}
		&:disabled, &:insensitive  {
			@include entries(disabled);
		}
		&:backdrop {
			@include entries(backdrop, $shadow);
			&:focus {
				@include entries(backdrop-focus, $shadow);
			}
			&:hover {
				@include entries(hover, $shadow);
			}
			&:active, &:checked {
				@include entries(active, $shadow);
			}
			&:disabled, &:insensitive  {
				@include entries(disabled);
			}	
		}
	}
	@if $include==all or $include==default { 
		&.default:not(.suggested-action):not(.destructive-action) {
			@include entries(normal, $shadow);
			&:focus {
				@include entries(focus, $shadow);
			}
			&:hover {
				@include entries(hover, $shadow);
			}
			&:active, &:checked {
				@include entries(active, $shadow);
			}
			&:disabled, &:insensitive  {
				@include entries(disabled);
			}
			&:backdrop {
				@include entries(backdrop, $shadow);
				&:focus {
					@include entries(backdrop-focus, $shadow);
				}
				&:hover {
					@include entries(hover, $shadow);
				}
				&:active, &:checked {
					@include entries(active, $shadow);
				}
				&:disabled, &:insensitive  {
					@include entries(disabled);
				}	
			}
		}
	}
	@if $include==all or $include==warning {
		&.warning {
			@include entries(normal, $shadow, warning);
			&:focus {
				@include entries(focus, $shadow, warning);
			}
			&:hover {
				@include entries(hover, $shadow, warning);
			}
			&:active, &:checked {
				@include entries(active, $shadow, warning);
			}
			&:disabled, &:insensitive  {
				@include entries(disabled);
			}
			&:backdrop {
				@include entries(backdrop, $shadow, warning);
				&:focus {
					@include entries(backdrop-focus, $shadow, warning);
				}
				&:hover {
					@include entries(hover, $shadow, warning);
				}
				&:active, &:checked {
					@include entries(active, $shadow, warning);
				}
				&:disabled, &:insensitive  {
					@include entries(disabled);
				}	
			}
		}
	}
	@if $include==all or $include==warning { 
		&.error {
			@include entries(normal, $shadow, failure);
			&:focus {
				@include entries(focus, $shadow, failure);
			}
			&:hover {
				@include entries(hover, $shadow, failure);
			}
			&:active, &:checked {
				@include entries(active, $shadow, failure);
			}
			&:disabled, &:insensitive  {
				@include entries(disabled);
			}
			&:backdrop {
				@include entries(backdrop, $shadow, failure);
				&:focus {
					@include entries(backdrop-focus, $shadow, failure);
				}
				&:hover {
					@include entries(hover, $shadow, failure)
				}
				&:active, &:checked {
					@include entries(active, $shadow, failure);
				}
				&:disabled, &:insensitive  {
					@include entries(disabled);
				}	
			}
		}
	}
}

@mixin checkbox($include: all) {
	@if $include==all or $include==unchecked {
		@include check(normal, unchecked);
		&:hover {
			@include check(hover, unchecked);
		}
		&:active {
			@include check(active, unchecked);
		}
		&:disabled {
			@include check(disabled, unchecked);
		}
		&:backdrop {
			@include check(backdrop, unchecked);
			&:hover {
				@include check(backdrop-hover, unchecked);
			}
			&:active {
				@include check(backdrop-active, unchecked);
			}
		}
	}
	@if $include==all or $include==checked {
		&:checked:not(:indeterminate), &:indeterminate {
			@include check(normal, checked);
			&:hover {
				@include check(hover, checked);
			}
			&:active {
				@include check(active, checked);
			}
			&:disabled {
				@include check(disabled, checked);
			}
			&:backdrop {
				@include check(backdrop, checked);
				&:hover {
					@include check(backdrop-hover, checked);
				}
				&:active {
					@include check(backdrop-active, checked);
				}
			}
		}
	}
}

@mixin button-shell {
	border-right-width: 1px;
        border-radius: 0;
        padding: 12px;
        &:first-child {
                border-radius: 0px 0px 0px $omega1;
        }
        &:last-child {
                border-right-width: 0px;
                border-radius: 0px 0px $omega1 0px;
        }
        &:first-child:last-child {
                border-right-width: 0px;
                border-radius: 0px 0px $omega1 $omega1;
        }

}
