@mixin draw_circle($fill, $size:24px) {
	$button_size: $size + 2px * 2;
	$circle_size: 20px / $button_size / 2;
	background-image: -gtk-gradient(radial,
					center center, 0,
					center center, $circle_size,
					to($fill),
					to(transparent));
	&:hover {
		color: $white;
		&:backdrop {
			color: $white;
		}
	}
	&:backdrop {
	        background-image: -gtk-gradient(radial,
						center center, 0,
						center center, $circle_size,
						to(lighten($fill, $beta1)),
						to(transparent));
	
	}
}
