/***********
 * Tweak Tool *
 ***********/
list.tweak-categories separator {
	background: transparent;
}

/***********
 * Nautilus *
 ***********/
.nautilus-window {
	paned box.floating-bar {
		background: $accent2;
		label {
			color: $white;
		}
		color: $white;
		border: none;
		border-radius: $omega1 0 0 0;
		button.circular.flat.image-button {
			&, &:hover {
				background-color: transparent;
				border-color: transparent;
				box-shadow: none;
				color: $fill;
				margin: 2px;
			}
			&:hover {
				color: $failure;
			}
		}
	}
	.searchbar-container searchbar {
		background: transparent;
		border-color: transparent;
		&:backdrop {
			background: transparent;
			border-color: transparent;
		}
	}
	treeview.view header button {
		&:hover {
			background-color: $fill;
		}
	}
	@at-root %remove_folder_icon_tint, scrolledwindow widget.view:selected {
		&, &:backdrop {
			widget.view:selected {
				background-color: transparentize($accent2, $alpha1); // folder icon is tinted based on this
				background-image: image($accent2);
				border-radius: $omega1;
			}
		}
	}
	.nautilus-list-view .view {
		// Hide superfluous treeview drop target indication
		&.dnd {
			border-style: none;
		}
	}
	.nautilus-canvas-item {
		-gtk-outline-radius: $omega1;
		outline-offset: -2px;
		&:selected {
			outline-color: $white;
		}
	}
}

.nautilus-desktop-window {
	.nautilus-desktop.view {
		color: $white;
		text-shadow: 0px 1px 2px rgba($dark1, $alpha3);
	}
}


/***********
 * Terminal *
 ***********/
terminal-window {
	.terminal-screen {
		@include fill(normal, $alpha3, $accent1);
		&:backdrop {
			@include fill(backdrop, $alpha3, $accent1);
		}
	}
	notebook > header.top > tabs > tab {
		&:checked {
			@include fill(normal, $alpha3, darken($accent3, 20%));
		}
	}
//	notebook {
//		> header {
//			@include fill(normal, $alpha3, $header);
//			button.flat {
//				&, &:backdrop {
//					@include click(solid, $variant, true);
//				}
//			}
//			tab {
//				@include fill(backdrop, $alpha3, $header);
//				&:hover {
//				}
//				&:checked {
//				}
//				&:backdrop {
//				}
//			}
//		}
//	}
	scrollbar {
		slider {
			margin: 0;
			border-width: 3px;
		}
	}
}


/******************
 * GNOME Software *
 ******************/
.review-row {
	margin-bottom: 10px;
	padding: 6px 12px;
	box-shadow: 0 1px 2.5px transparentize($dark1, $alpha3);
	outline-offset: -1px;
	&, &:not(:selected):not(:backdrop):hover, &:not(:selected):not(:backdrop):active {
		background-color: $fill;
	}
	&:backdrop {
		background-color: $bd-fill;
	}
	&:last-child {
		margin-bottom: 0;
	}
	> grid {
		margin-top: -24px;
	}
}

.app-listbox-header {
	background: $fill;
}

.list-box-app-row {
	border-radius: 0;
//	border-color: $mix;
//	border-style: none solid solid solid;
//	border-width: 0 1px 1px 1px;
	margin: -1px 0 0 0;
	& ~ separator {
		background-color: $fill;
		border: none;
		min-height: 0px;
	}
}
// Avoid double border when list in included in a box (e.g. Updates view)
box > list row.list-box-app-row {
	border: none;
}

// Star color can not be set, so this gives the stars a background in the dark theme
.star	{

}

// Background color can not be set, so use a inset-box-shadow
.application-details-infobar {
	box-shadow: inset 0 0 100px 100px $fill;
}

.category_page_header_filter_box{
	box-shadow: inset 0 0 100px 100px $fill;
}

/*********
 * Gedit *
 *********/
.gedit-bottom-panel-paned notebook > header {
//	background: if($variant==light, $porcelain, $fill);
}

.gedit-bottom-panel-paned ~ statusbar {
// give gedit's bottom panel a border
	border-top: 1px solid $mix;
	&:backdrop {
		border-color: $bd-mix; 
	}
}

.gedit-search-slider {
	// gives gedit search entry some padding and a border
	// otherwise it's right under the headerbar
	background: $fill;
	border: 1px solid $mix;
	border-top-style: none;
	padding: 4px 8px;
	border-radius: 0 0 $omega1 $omega1; // same radius as tooltips
	&:backdrop {
		background-color: $bd-fill;
		border-color: $bd-mix;
	}
}

.gedit-search-entry-occurrences-tag {
	color: transparentize($color, $alpha3);
	border: none; // Removed ugly tag border
	box-shadow: none; // Removed button inset shadow
	margin: 2px;
	padding: 2px;
}

.gedit-document-panel { // 'documents' pane
	background-color: $fill;
	row.activatable {
		padding: 6px;
	}
	row button { // 'close' button
		min-width: 22px;
		min-height: 22px;
		padding: 0;
		margin: 0;
		border: none;
	}
	row:hover button {
		&:hover {
			background-color: rgba($color, 0.15);
		}
		&:active {
			background-color: rgba($color, 0.25);
		}
	}
	row:hover:selected button:hover {
		color: $white;
	}
}

/***************
 * GNOME Disks *
 ***************/

headerbar button image ~ window decoration ~ menu separator {
// gnome disks headerbar menu seems to inherit the headerbar separator bg color
// no unique class names or id used here so this rule is as specific as it can be
	background: transparent;
}

box > paned > notebook {
        &, &:backdrop {
                margin: -6px -11px -12px -6px;
                padding: 10px;
        }
}



/********
 * Nemo *
 ********/
.nemo-properties-dialog {
	.dialog-action-box .dialog-action-area {
		// add margin to preferences buttons
		margin: 2px 6px 4px;
	}
	toolbar stackswitcher.linked button {
		margin-right: 0;
		&:backdrop {
			background-color: $bd-fill;
		}
	}
}

.nemo-window {
	.sidebar{
		scrolledwindow.frame.nemo-places-sidebar {
			// get rid of double border in sidebar
			border: none;
		}
		viewport.frame box.vertical treeview.view.places-treeview {
			// use sidebar bg color
			 @include fill(normal, $alpha1, $header);
			border-radius: 0; // get rid of weird radius on selected rows
			&:backdrop {
				 @include fill(backdrop, $alpha1, $header);
			}
			&:selected {
				background: $selected;
			}
			&:not(:selected) {
				&:not(:backdrop):hover {
					background-image: image($accent2);
				}
			}
		}
	}
	.view {
		// imports nautilus tweaks
		// dim icons in backdrop and have only labels be colored when selected
		&:selected {
			@extend %remove_folder_icon_tint;
		}
		&:backdrop {
			//@extend %dim_icons_in_backdrop;
		}
	}
	toolbar.horizontal.primary-toolbar {
		// add border under toolbar
		border-bottom: 1px solid $mix;

		widget.linked.raised button {
			// use proper icons for next and left in stackswitcher-like pathbar
			&:first-child widget {
				-gtk-icon-source: -gtk-icontheme('go-previous-symbolic'); 
			}
			&:last-child widget {
				-gtk-icon-source: -gtk-icontheme('go-next-symbolic');
			}
		}
		toolitem box widget * {
			// reset toolbar button dimensions
			min-height: 0;
			min-width: 0;
		}
		.linked button {
			// link linked buttons
			margin-right: 0;
		}
		button {
			// return non-flat buttons
			@include button;			
		}
	}
}


/*************
* GNOME ToDo *
**************/
.org-gnome-Todo {
	taskrow.activatable.new-task-row button.popup.toggle {
		border-radius: 0px;
		border: none;
		border-left: 1px solid $mix;
		padding-left: 10px; padding-right: 10px;
		-gtk-outline-radius: 0px;
}

viewport.view, listbox.transparent {
	background-color: $fill,5%;
	&:backdrop {
		background-color: $bd_fill}
	}
}

/****************
 * GNOME Photos *
 ****************/
//removes the black background for picture tiles
.documents-scrolledwin.frame.frame widget flowboxchild.tile {
	background-color: transparent;
}

/***********
 * Firefox *
 ***********/
#MozillaGtkWidget.background {
	color: $color;
	> widget {
		> scrolledwindow > textview {
			@include fill(normal);
			text {
				&:selected {
					@extend %selected_text;
					border-color: $selected;
				}
			}
		}
	}
	headerbar.titlebar {
		// Remove the round corners until firefox fixed the white border bleed at the top edges
		border-radius: 0;
	}
	> menu, .menu {
		border: none;
	}
	> menu > menuitem {
		border-radius: 0;
	}
	scrollbar {
		background-color: transparent;
		border-color: transparent;
	}
}

normal-button {
	@include button;
}

/***********
 * Ubiquity *
 ***********/
#live_installer {
	#progress_mode, #title_eventbox {
		background-color: $fill;
		&:backdrop {
			background-color: $bd-fill;
		}
	}
	#dot_grid {
		.empty {
			background-color: transparentize($accent2, $alpha2);
		}
	}
	#page_title {
		color: $color;
	}
}
#warning_dialog.background {
	border: 1px solid $mix;
}
#dialog-action_area1 {
	padding-bottom: 5px;
	padding-right: 5px
}

/***********
 * Geary *
 ***********/
.geary-expanded headerbar {
	border: none;
}

/***********
 * usb-creator-gtk *
 ***********/
#dialog-action_area3 {
	margin: 5px;
}
