// "We're not Gods, Nora. We've just been given extraordinary abilities"

list.tweak-categories, viewport > stack > list, placessidebar {
// > viewport > list {
	@include fill(normal, $alpha2, $header);
	&:backdrop {
		@include fill(backdrop, $alpha2, $header);
	}
}

headerbar, %titlebar {
	background: if($variant==light, transparentize($white, $alpha3), transparentize($dark1, $alpha3));
	background-image: image(if($header==dark, transparentize($dark1, $alpha2), transparentize($white, $alpha2)));
	transition: $backdrop;
	&:backdrop {
		background: if($variant==light, transparentize(darken($white, $beta1), $alpha3), transparentize(darken($dark1, $beta1), $alpha3));
		background-image: image(if($header==dark, transparentize(darken($dark1, $beta1), $alpha2), transparentize(darken($white, $beta1), $alpha2)));
		transition: $backdrop;
	}
}


// Windows
// Adds solid color to the "main" sections of a window

window > box > box,
window > box > box > box,
window > box > stack {
        &:last-child, &:only-child {
                @include fill(normal);
                &:backdrop {
                        @include fill(backdrop);
                }
        }
}
notebook, widget viewport, stack > widget > box > stack box {
        @include fill(normal);
        &:backdrop {
                @include fill(backdrop);
        }
}

