.background {
	@include fill(normal, $alpha3, $variant);
	&:backdrop {
		@include fill(backdrop, $alpha3, $variant);
	}
}

*:disabled {
	-gtk-icon-effect: dim;
}

.gtkstyle-fallback {
	color: $color;
	background-color: $fill;
	&:hover {
		color: $white;
		background-color: $selected;
	}
	&:active {
		color: $white;
		background-color: $accent3;
	}
	&:disabled {
		@include clickable(disabled);
	}
	&:selected {
		color: $white;
		background-color: $selected;
	}
}

widget:selected {
	color: $white;
}

overlay > notebook > stack > box > grid > overlay scrolledwindow widget {
	background-color: transparentize($white, $alpha2);
}

.view {
	background-color: transparentize(if($variant==light, $white, $dark1) ,1);
	&:backdrop {
	        background-color: transparentize(if($variant==light, $white, $dark1) ,1);
	}
	&:selected {
		&:focus, & {
			@include fill(normal, $alpha3, $accent2);
		}
	}
}

textview {
	text {
		selection {
			&:focus, & {
				@extend %selected_text;
			}
		}
	}
}

textview border {
	box-shadow: $shadow1;
}

iconview {
	@extend .view;
	&:selected {
		border-radius: $omega1;
	}
}

.rubberband, rubberband {
	border: 1px solid $selected;
	background-color: transparentize($accent2, $alpha2);
}

flowbox {
	rubberband {
		@extend rubberband;
	}
	flowboxchild {
		padding: 3px;
		&:selected {
			@extend %selected_items;
			outline-offset: -2px;
		}
	}
}

.content-view .tile {
	margin: 2px;
	border-radius: 0;
	padding: 0;
	&, &:backdrop, &:active, &:selected {
		background-color: transparent;
	}
}

label {
//	caret-color: currentColor;
//	outline-offset: 1px;
//	&:selected {
//		@extend %nobg_selected_items;
//	}
//	selection {
//		@extend %selected_text;
//	}
//	counter-label {
//		background-color: $selected;
//	}
//	&:disabled {
//		@include clickable(disabled);
//		selection {
//			@extend %selected_items:disabled;
//		}
//	}
}

.dim-label {
	opacity: 0.55;
}


.counter-label {
	margin-top: 2px;
	margin-bottom: 2px;
	border-width: 0px;
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: inset 0 0 10px 10px $success;
}

.compressed-entries-label {
	box-shadow: inset 0 0 10px 10px $failure;
}

assistant {
	&.csd .sidebar {
		border-top-style: none;
	}
	.sidebar label {
		padding: 6px 12px;
	}
}

%osd, .osd {
	@include fill(normal, $alpha3);
	border: none;
	box-shadow: inset 0 0 0 1px $mix;
	background-clip: padding-box;
}
