@keyframes needs_attention {
	from {
		background-image: -gtk-gradient(radial,
				center center, 0,
				center center, 0.01,
				to($accent2),
				to(transparent));
	}
	to {
		background-image: -gtk-gradient(radial,
				center center, 0,
				center center, 0.5,
				to($accent3),
				to(transparent));
	}
}

%button, button {
	@at-root %button_basic, & {
		animation: shrink 1s linear infinite;
		min-height: 24px;
		min-width: 16px;
		padding: 2px 6px;
		border-radius: $omega1;
		&, &.toggle, &.image-button, &.text-button, &.text-button.image-button, &.osd {
			@include button;
		}
		&.flat {
			@include button(standard);
		}
		&.image-button {
			min-width: 24px;
			padding-left: 2px;
			padding-right: 2px;
		}
		&.text-button {
			padding-left: 16px;
			padding-right: 16px;
		}
		&.text-button.image-button {
			padding-left: 8px;
			padding-right: 8px;
			label {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
		&:drop(active) {
			color: $success;
			border-color: $success;
			box-shadow: inset 0 0 0 1px $success;
		}
	}
	@at-root %button_selected, & {
		row:selected & {
			&.flat:not(:active):not(:checked):not(:hover):not(disabled) {
				color: $fill;
				border-color: transparent;
				&:backdrop {
					color: $bd-fill;
				}
			}
		}
	}
	// big standalone buttons like in Documents pager
	&.osd {
		min-width: 24px;
		min-height: 32px;
		&.image-button {
			min-width: 32px;
		}
		border-radius: $omega1;
	}

	//overlay / OSD style
	@at-root %osd_button, .osd & {
		@include button;
	}
	&.destructive-action image {
		-gtk-icon-shadow: 1px 0px 1px darken($failure, 25%),
		0px 1px 1px darken($failure, 25%),
		0px -1px 1px darken($failure, 25%),
		-1px 0px 1px darken($failure, 25%);
		&:backdrop {
			-gtk-icon-shadow: 1px 0px 1px darken($failure, 10%),
			0px 1px 1px darken($failure, 10%),
			0px -1px 1px darken($failure, 10%),
			-1px 0px 1px darken($failure, 10%);
		}
	}
	.stack-switcher > & {
		> label {
			padding-left: 6px;
			padding-right: 6px;
		}
		> image {
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&.text-button {
			padding-left: 10px;
			padding-right: 10px;
		}
		&.image-button {
			padding-left: 0;
			padding-right: 0;
		}
		&.needs-attention {
			> label, > image {
				@extend %needs_attention;
			}
			&:active, &:checked {
				> label, > image {
					animation: none;
					background-image: none;
					}
				}
			}
		}
		// hide separators
		&.font, &.file {
			separator {
				background-color: transparent; 
			}
		}
		&.font {
			> box > box > label {
				font-weight: 500;
			}
		}
		// inline-toolbar buttons
		.inline-toolbar &, .inline-toolbar &:backdrop {
			border-radius: 2px;
			border-width: 1px;
			@extend %linked;
		}

		.linked > &,
		.linked > &:hover,
		.linked > &:active,
		.linked > &:checked,
		.linked > &:backdrop {
			@extend %linked;
		}
		.linked.vertical > &,
		.linked.vertical > &:hover,
		.linked.vertical > &:active,
		.linked.vertical > &:checked,
		.linked.vertical > &:backdrop {
			@extend %linked_vertical;
		}
		&.circular {
			border-radius: 9999px;
			-gtk-outline-radius: 9999px;
			label {
				padding: 0;
			}
			@include button;
			&:not(.flat):not(:checked):not(:active):not(:disabled):not(:backdrop),	
			&:hover:not(:checked):not(:active):not(:disabled):not(:backdrop),
			&:checked, &:active {
//				border-color: $mix;
//				box-shadow: none;
			}
			&:not(.flat):not(:checked):not(:active):not(:disabled):not(:backdrop) {
//				@include clickable(normal);
		}
		&:hover:not(:checked):not(:active):not(:disabled):not(:backdrop) {
//			@include clickable(hover);
		}	
		background-origin: padding-box, border-box;
		background-clip: padding-box, border-box;
		
	}
}

%needs_attention {
	animation: needs_attention 150ms ease-in;
	background-image: -gtk-gradient(radial,
				center center, 0,
				center center, 0.5,
				to($accent2),
				to(transparent)),
				-gtk-gradient(radial,
				center center, 0,
				center center, $accent3,
				to($accent3),
				to(transparent));
				background-size: 6px 6px, 6px 6px;
				background-repeat: no-repeat;
	background-position: right 3px, right 4px;
	&:backdrop {
		background-size: 6px 6px, 0 0;
	}
	&:dir(rtl) {
		background-position: left 3px, left 4px;
	}
}

.inline-toolbar toolbutton > button {
	@include button;
}

// More inline toolbar buttons
toolbar.inline-toolbar toolbutton, toolbar.inline-toolbar toolbutton:backdrop {
	> button.flat {
		@extend %linked_middle;
	}
	&:first-child > button.flat {
		@extend %linked:first-child;
	}
	&:not(:first-child) > button.flat {
		// linked buttons will have more defined border colors
//		border-left-color: $borders_color;
		&:disabled {
//			border-left-color: $insensitive_borders_color;
		}
	}
	&:last-child > button.flat {
		@extend %linked:last-child;
	}
	&:only-child > button.flat {
		@extend %linked:only-child;
	}
}

%linked_middle {
	border-radius: 0;
	border-right-style: none;
	-gtk-outline-radius: 0;
}

%linked {
	@extend %linked_middle;
	&:first-child {
		border-top-left-radius: $omega1;
		border-bottom-left-radius: $omega1;
		-gtk-outline-radius: $omega1 0 0 $omega1;
	}
	&:last-child {
		border-top-right-radius: $omega1;
		border-bottom-right-radius: $omega1;
//		border-right-style: solid;
		-gtk-outline-radius: 0 $omega1 $omega1 0;
	}
	&:only-child {
		border-radius: $omega1;
		-gtk-outline-radius: $omega1;
//		border-style: solid;
	}
}

%linked_vertical_middle {
//	border-style: solid solid none solid;
	border-radius: 0;
	-gtk-outline-radius: 0px;
}

%linked_vertical{
	@extend %linked_vertical_middle;
	&:not(:first-child) {
		// linked buttons will have more defined border colors
//		border-top-color: $borders_color;
		&:disabled {
//			border-top-color: $insensitive_borders_color;
		}
	}
	&:first-child {
		border-top-left-radius: $omega1;
		border-top-right-radius: $omega1;
		-gtk-outline-radius: $omega1 $omega1 0 0;
	}
	&:last-child {
		border-bottom-left-radius: $omega1;
		border-bottom-right-radius: $omega1;
		-gtk-outline-radius: 0 0 $omega1 $omega1;
	}
	&:not(:last-child) {
		// only the last button will have the 3d effect
		box-shadow: none;
	}
	&:only-child {
		border-radius: $omega1;
		-gtk-outline-radius: $omega1;
	}
}


/* menu buttons */
modelbutton.flat, .menuitem.button.flat {
	min-height: 26px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	-gtk-outline-radius: 3px;
	outline-offset: -2px;
	@include button;
}

modelbutton.flat arrow {
	background: none;
	&:hover {
		background: none;
	}
	&.left {
		-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
	}
	&.right {
		-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
	}
}

button.color {
	padding: 4px;
}
