calendar {
	color: $color;
	border: 1px solid transparentize($mix, $alpha3);
	&:selected {
		@extend %selected_items;
		border-radius: $omega1;
	}
	&.button {
		@extend %undecorated_button;
		color: transparentize($fill, $alpha3);
		&:hover {
			color: $selected;
		}
		&:disabled {
			@include clickable(disabled);
		}
	}
	&.highlight {
		color: $selected;
		&:backdrop {
			color: $bd-selected;
		}
	}
	&:indeterminate {
		color: gtkalpha(currentColor, 0.1);
	}
}

