calendar {
	color: if($variant==light, $dark1, $white);
	border: 1px solid transparentize(if($variant==light, $dark1, $white), $alpha3);
	&:selected {
		@extend %selected_items;
		border-radius: $omega1;
	}
	&.button {
		@extend %undecorated_button;
		color: transparentize(if($variant==light, $dark1, $white), $alpha3);
		&:hover {
			color: if($variant==light, $dark1, $white);
		}
		&:disabled {
			@include clickable(disabled);
		}
	}
	&.highlight {
		color: $accent2;
		&:backdrop {
			color: lighten($accent2, $beta1);
		}
	}
	&:indeterminate {
		color: gtkalpha(currentColor, 0.1);
	}
}

