decoration {
	border-radius: $omega1 $omega1 0 $omega1;
	border-width: 0px;
	margin: 10px;
	box-shadow: $shadowa;
	&:backdrop {
		box-shadow: $shadowb;
		transition: $backdrop_transition;
	}
	.maximized &,
	.fullscreen &,
	.tiled &,
	.tiled-top &,
	.tiled-right &,
	.tiled-bottom &,
	.tiled-left & {
		border-radius: 0;
	}
	.popup & {
		box-shadow: none;
	}
	.ssd & {
		box-shadow: none;
	}
	.csd.popup & {
		border-radius: $omega1;
		box-shadow: $shadow2;
	}
	tooltip.csd & {
		border-radius: $omega1;
		box-shadow: none;
		border: none;
	}
	messagedialog.csd & {
		box-shadow: $shadowa;
	}
	.solid-csd & {
		margin: 0;
		padding: 4px;
		background-color: if($variant==light, $white, $dark1);
		border: solid 1px if($variant==light, $white, $dark1);
		border-radius: 0;
		box-shadow: $shadowa;
		&:backdrop {
			box-shadow: $shadowb;
		}
	}
}

// Window Close button
button.titlebutton {
//      min-height: 24px;
//      min-width: 24px;
        border-radius: $omega1; // Should be round?
        &.minimize {
                &:hover {
                        @include clickable(hover, $alpha3, $accent1);
                        &:backdrop {
				&:hover {
	                                @include clickable(backdrop-hover, $alpha3, $accent1);
				}
                        }
                }
        }
        &.maximize {
                &:hover {
                        @include clickable(hover, $alpha3, $accent2);
                        &:backdrop {
				&:hover {
	                                @include clickable(backdrop-hover, $alpha3, $accent2);
				}
                        }
                }
        }
        &.close {
                @include clickable(normal, $alpha3, $accent2);
                &:hover {
                        @include clickable(hover, $alpha3, $accent3);
                        &:backdrop {
				@include clickable(backdrop, $alpha3, $accent2);
				&:hover {
	                                @include clickable(backdrop-hover, $alpha3, $accent3);
				}
                        }
                }
        }
}

// catch all extend :)

.monospace {
	font-family: monospace;
}

%selected_items {
	$c: $accent2;
	$tc: $white;
	background-color: $c;
	&:backdrop {
		background-color: _backdrop_color($c);
	}
	@at-root %nobg_selected_items, & {
		color: $tc;
		&:disabled {
			color: mix($tc, $c, 50%);
		}
		&:backdrop {
			&, label {
				color: $backdrop_selected_fg_color;
			}
			&:disabled {
				color: mix($backdrop_selected_fg_color, $c, 30%);
			}
		}
	}
}

%selected_text {
  $c: $accent2;
  $tc: $white;
  background-color: $c;
  color: $tc;

  &:disabled { color: mix($tc, $c, 50%); }

  &:backdrop {
    background-color: _backdrop_color($c);
    color: $backdrop_text_color;

    &:disabled { color: mix($backdrop_selected_fg_color, $c, 30%); }
  }
}

