
/***********
 * Dialogs *
 ***********/
messagedialog { // Message Dialog styling
  decoration {
    border-radius: $large_radius;
  }
  .titlebar {
    background-color: $base_color;
    background-image: none;
    border-color: $base_color;
    border-top-left-radius: $medium_radius;
    border-top-right-radius: $medium_radius;
    color: $fg_color;
    min-height: 20px;

    &:backdrop {
      background-color: $backdrop_bg_color;
    }
  }

  &.csd {
    background-color: $base_color;

    &.background {
      border-bottom-left-radius: $medium_radius;
      border-bottom-right-radius: $medium_radius;
    }

    .dialog-vbox { margin-top: 14px; }
    .dialog-action-area button {
      @extend %button;
      margin: 0 7px 7px;
    }
  }
}

filechooser {
  background-color: if($variant==light, white, $bg_color);

  .dialog-action-box {
    border-top: 1px solid $borders_color;

    &:backdrop { border-top-color: $backdrop_borders_color; }
  }

  #pathbarbox {
    $_bg: $bg_color;

    background: $_bg;
    border-bottom: 1px solid $borders_color;
    &:backdrop { background: if($variant==light, darken($backdrop_bg_color, 5%), $backdrop_bg_color);}

    .path-bar.linked button {
      background: if($variant==light, darken($_bg, 10%), darken($_bg, 5%));
      &, & label { color: $text_color; }
      &:checked label { font-weight: 500; }
      &:backdrop {
        background: transparent;
        label { color: $backdrop_text_color; }
      }
    }
  }

  & actionbar {
    background-color: $bg_color;
    &:backdrop{background: darken($backdrop_bg_color, 5%);}
  }
  // picture preview pane
  & placessidebar ~ box box > stack ~ box  {
    background-color: $bg_color; // fixed color won't work with dark theme
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0 1px;
    padding: 10px;
  }
}

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent;
}
