infobar {
	@each $t, $c in
	("", $accent3),
	(".info", $accent3),
	(".question", $accent3),
	(".warning", $warning),
	('.error', $failure) {
		&#{$t} {
			background-color: $c;
			color: white;
			border-bottom: none;
			selection {
				background-color: darken($c, 10%);
			}
			// The following extensive local styling of buttons in infobars
			// should be replaced by smarter functions in drawing after 18.10 UI-Freeze
			$_active_amount: $beta2;
			$_hover_amount: $beta1;
			$_bg: $fill;
			$_c: $color;
			$_active_bg: darken($_bg, $_active_amount);
			$_hover_bg: if($variant=='light', darken($_bg, $_hover_amount), lighten($_bg, $_hover_amount));
			$_insensitive_bg: mix($c, $_bg, 20%);
			button.close {
				&, &:backdrop {
					color: white;
					border-color: transparent;
					box-shadow: none;
				}
				&:hover {
					background-color: darken($c, $_hover_amount);
				}
				&:active {
					color: transparentize(white, 0.3);
					background-color: darken($c, $_active_amount);
				}
			}
			button:not(.close) {
				border-color: $_bg;
				box-shadow: none;
				background-color: $_bg;
				color: $_c;
				&:hover {
					background-color: $_hover_bg;
					border-color: $_hover_bg;
				}
				&:active {
					border-color: $_active_bg;
					background-color: $_active_bg;
					color: lighten($_c, $_active_amount);
				}
				&:disabled {
				background-color: $_insensitive_bg;
				border-color: $_insensitive_bg;
				label {
					color: $color;
				}
			}
			&:backdrop {
				background-color: _backdrop_color($_bg);
				border-color: _backdrop_color($_bg);
				&:disabled {
					background-color: $_insensitive_bg;
					border-color: $_insensitive_bg;
					label {
						color: $color;
					}
				}
				&:hover {
					background-color: $_hover_bg;
					border-color: $_hover_bg;
				}
				&:active {
					background-color: $_active_bg;
					border-color: $_active_bg;
				}
			}
		}
		&:backdrop {
			background-color: _backdrop_color($c);
			color: $white;
		}
	}
}
> revealer > box > box label:backdrop {
	color: transparentize(white, 0.3);
}
*:link {
	@extend %link_selected;
	}
}

