viewport > stack > list row {
        padding: 0;
        margin: 0;
}

list.tweak-categories row, placessidebar viewport list row {
        padding: 10px;
}

list.tweak-categories separator {
	background-color: transparent;
}

list.tweak-categories > row , viewport > stack > list > row, placessidebar > viewport > list > row {
        min-height: 10px;
        image {
                padding: 0 10px;
        }
	color: if($header==dark, $dark1, $white);
        &.activatable {
                label, image {
                        &:backdrop, & {
                                color: inherit;
                        }
                }
                &:hover {
                      @include clickable(hover, $alpha3, $accent2);
                }
                &:selected, &:active, &.has-open-popup {
                        @include clickable(active, solid);
                        &:backdrop {
                                @include clickable(backdrop-active, solid);
                        }
                        label, image {
                                &:backdrop, & {
                                        color: if($variant==light, $dark1, $white);
                                }
                        }
                }
        }
}

frame row {
        border-radius: $omega1;
        margin: 6px 1px;
        @include clickable(normal);
        &:selected {
                @include clickable(active, solid, $accent2);
        }
        &:backdrop {
                @include clickable(backdrop);
                &:selected {
                        @include clickable(backdrop-active, solid, $accent2);
                }
        }
}













/**



list {
	
	background-color: transparent;
	row {
		padding: 2px;
	}
	separator {
		background-color: transparent;
	}
}

row {


	outline-offset: 0;
	transition: all 150ms $ease-out-quad;
	&:not(:selected) {
//		&:not(:backdrop):hover {
			background-color: $base_hover_color;
		}
  //  &:not(:backdrop):active { background-color: $base_active_color; }
  }

  &:backdrop { transition: $backdrop_transition; }

  &.activatable:not(:backdrop) {
    &.has-open-popup, // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411

    &:active { box-shadow: inset 0 2px 2px -2px transparentize(black, 0.8); }

    &:not(:backdrop):selected {
      &:active { box-shadow: inset 2px 0 $selected_bg_color, inset 0 2px 3px -1px transparentize(black, 0.5); }

      &.has-open-popup { background-color: mix($fg_color, $selected_bg_color, 10%); }

    }
  }

	&:selected {
//		@extend %selected_items;
		background-color: $white;
	}
}

**/
