viewport > stack > list row {
        padding: 0;
        margin: 0;
}

list.tweak-categories row, placessidebar viewport list row {
        padding: 10px;
}

list.tweak-categories separator {
	background-color: transparent;
}

list.tweak-categories > row , viewport > stack > list > row, placessidebar > viewport > list > row {
        min-height: 10px;
        image {
                padding: 0 10px;
        }
	color: if($header==dark, $dark1, $white);
        &.activatable {
                label, image {
                        &:backdrop, & {
                                color: inherit;
                        }
                }
                &:hover {
                      @include clickable(hover);
                }
                &:selected, &:active, &.has-open-popup {
                        @include fill(normal);
			box-shadow: $shadow1;
                        &:backdrop {
                                @include fill(backdrop);
				box-shadow: $shadow1;
                        }
                        label, image {
                                &:backdrop, & {
                                        color: if($variant==light, $dark1, $white);
                                }
                        }
                }
        }
}

frame row.activatable {
        border-radius: $omega1;
        margin: 6px 1px;
	@include button;
}





