viewport > stack > list row {
        padding: 0;
        margin: 0;
}

list.tweak-categories row, placessidebar viewport list row {
        padding: 10px;
}

list.tweak-categories separator {
	background-color: transparent;
}

list.tweak-categories > row , viewport > stack > list > row, placessidebar > viewport > list > row {
        min-height: 10px;
        image {
                padding: 0 10px;
        }
	color: if($header==dark, $dark1, $white);
        &.activatable {
                label, image {
                        &:backdrop, & {
                                color: inherit;
                        }
                }
                &:hover {
                      @include clickable(hover, $alpha3, $accent2);
                }
                &:selected, &:active, &.has-open-popup {
                        @include clickable(active, solid);
                        &:backdrop {
                                @include clickable(backdrop-active, solid);
                        }
                        label, image {
                                &:backdrop, & {
                                        color: if($variant==light, $dark1, $white);
                                }
                        }
                }
        }
}

frame row {
        border-radius: $omega1;
        margin: 6px 1px;
        @include clickable(normal);
        &:selected {
                @include clickable(active, solid, $accent2);
        }
        &:backdrop {
                @include clickable(backdrop);
                &:selected {
                        @include clickable(backdrop-active, solid, $accent2);
                }
        }
}





