.content-view {
	@include fill(normal, solid, $variant, false);
	&:hover {
		-gtk-icon-effect: highlight;
	}
	&:backdrop {
		@include fill(normal, solid, $variant, false);
	}
	rubberband, .rubberband {
		@extend rubberband;
	}
}

.scale-popup {
	.osd & {
		@extend %osd;
	}
	.osd & button.flat {
		border-style: none;
		border-radius: $omega1;
	}
	button { // +/- buttons on GtkVolumeButton popup
		&:hover {
			@extend %undecorated_button;
//			background-color: transparentize($color, $alpha3);
			border-radius: $omega1;
		}
	}
}

