printdialog {
	paper {
		@include fill(normal);
		border: 1px solid if($variant==light, $dark1, $white);
		padding: 0;
		&:backdrop {
			@include fill(normal);
		}
	}
	.dialog-action-box {
		margin: 12px;
	}
}

