scrollbar {
	$_slider_min_length: 40px;
	@at-root * {
		-GtkScrollbar-has-backward-stepper: false;
		-GtkScrollbar-has-forward-stepper: false;
	}
//	background-color: $scrollbar_bg_color;
//	transition: 300ms $ease-out-quad;
//	&.top { border-bottom: 1px solid $borders_color; }
//	&.bottom { border-top: 1px solid $borders_color; }
//	&.left { border-right: 1px solid $borders_color; }
//	&.right { border-left: 1px solid $borders_color; }
//	&:backdrop {
//		background-color: $backdrop_scrollbar_bg_color;
//		border-color: $backdrop_borders_color;
//		transition: $backdrop;
//	}

	slider {
		min-width: 8px;
		min-height: 8px;
		margin: -1px;
		border: 4px solid transparent;
		border-radius: 8px;
		background-clip: padding-box;
		transition: 150ms linear;
		transition-property: min-height, min-width, border-color, background-color;
		@include fill(normal, $alpha3, $variant, false);
		&:hover {
			background-color: $accent2;
			min-width: 12px;
		}
		&:hover:active {
			background-color: $accent3;
		}
		&:backdrop {
			@include fill(backdrop, $alpha3, $variant, false);
		}
		&:disabled {
			background-color: transparent;
		}
	}
	&.fine-tune {
		slider {
			min-width: 4px;
			min-height: 4px;
			transition: none;
		}
		&.horizontal slider {
			margin: 0 -1px;
		}
		&.vertical slider {
			margin: -1px 0;
		}
	}
	&.overlay-indicator {
		&:not(.dragging):not(.hovering) {
			border-style: none;
			background-color: transparent;
			slider {
				margin: 2px;
				min-width: 3px;
				min-height: 3px;
				border: 1px solid if($variant == 'light', transparentize(white, 0.8), transparentize(black, 0.8));
			}
			button {
				min-width: 5px;
				min-height: 5px;
//				background-color: $scrollbar_slider_color;
				background-clip: padding-box;
				border-radius: 100%;
				border: 1px solid if($variant == 'light', transparentize($white, $alpha3), transparentize($dark1, $alpha3));
				-gtk-icon-source: none;
			}
			&.horizontal {
				slider {
					min-width: 30px;
				}
				button {
					margin: 1px 2px;
					min-width: 5px;
				}
			}
			&.vertical {
				slider {
					min-height: 30px;
				}
				button {
					margin: 2px 1px;
					min-height: 5px;
				}
			}
		}
		&.dragging, &.hovering {
			border-style: none;
			background-color: transparent;
			border-radius: $omega1;
		}
	}
	&.horizontal slider {
		min-width: 30px;
	}
	&.vertical slider {
		min-height: 30px;
	}
	button {
		padding: 0;
		min-width: 12px;
		min-height: 12px;
		border-style: none;
		border-radius: 0;
		transition-property: min-height, min-width, color;
		@include clickable(undecorated);
		color: transparentize(if($variant==light, $dark1, $white), $alpha3);
		&:hover {
			@include clickable(undecorated);
			color: $accent2;
		}
		&:active, &:checked {
			@include clickable(undecorated);
			color: $accent3;
		}
		&:disabled {
			@include clickable(undecorated);
			color: transparent;
		}
		&:backdrop {
			@include clickable(undecorated);
			color: transparentize(if($variant==light, darken($dark1, $beta1), darken($white, $beta1)), $alpha3);
		}
	}
	&.vertical {
		button {
			&.down {
				-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
			}
			&.up {
				-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
			}
		}
	}
	&.horizontal {
		button {
			&.down {
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
			}
			&.up {
				-gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
			}
		}
	}
}

treeview ~ scrollbar.vertical {
//	border-top: 1px solid $borders_color;
	margin-top: -1px;
}
