.sidebar {
//	background-color: transparent;
	list {
//		background-color: transparent;
	}
}

stacksidebar {
	&.sidebar {
		row {
		padding: 10px 4px;
		> label {
			padding-left: 6px;
			padding-right: 6px;
		}
		&:selected > label {
			padding-left: 9px;
		}
		&.needs-attention > label {
			@extend %needs_attention;
			background-size: 6px 6px, 0 0;
}		}
	}
}

