spinbutton {
	&:not(.vertical) {
		@extend %entry;
		padding: 0;
		entry {
			min-width: 28px;
			margin: 0;
			background: none;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			&:backdrop:disabled {
				background-color: transparent;
			}
		}
		button {
			min-height: 16px;
			margin: 0;
			padding-bottom: 0;
			padding-top: 0;
			border-radius: 0;
			@include button;
			&:dir(ltr):last-child {
				border-radius: 0 $omega1 $omega1 0;
			}
			&:dir(rtl):first-child {
				border-radius: $omega1 0 0 $omega1;
			}
		}
	}
	// OSD horizontal
	.osd &:not(.vertical) {
		button {
			@include button;
			&:dir(ltr):last-child {
				border-radius: 0 $omega1 $omega1 0;
			}
			&:dir(rtl):first-child {
				border-radius: $omega1 0 0 $omega1;
			}
		}
	}
	// Vertical
	&.vertical {
		&:disabled {
			@include clickable(disabled);
		}
		&:drop(active) {
			border-color: transparent;
			box-shadow: none;
		}
		entry {
			min-height: 32px;
			min-width: 32px;
			padding: 0;
			border-radius: 0;
			&:backdrop {
			border-color: $bd-mix;
			&:disabled {
				border-color: transparentize($bd-mix, 0.3);
			}
		}
		&:disabled {
			border-color: $bd-mix;
		}
	}
	button {
		min-height: 32px;
		min-width: 32px;
		padding: 0;
		&.up {
			@extend %top_button;
		}
		&.down {
			@extend %bottom_button;
		}
	}
	%top_button {
		border-radius: $omega1 $omega1 0 0;
		border-style: solid solid none solid;
	}
	%bottom_button {
		border-radius: 0 0 $omega1 $omega1;
		border-style: none solid solid solid;
	}
}

// OSD vertical
.osd &.vertical button:first-child {
	@include button;
}

// Misc
treeview &:not(.vertical) {
	min-height: 0;
	border-style: none;
	border-radius: 0;
	entry {
		min-height: 0;
		padding: 1px 2px;
	}
}
}


