%toolbar {
	-GtkWidget-window-dragging: true;
	padding: 4px;
	@include fill(normal);
	&:backdrop {
		@include fill(backdrop);
	}
}

toolbar {
	@extend %toolbar;
	padding: 4px 3px 3px 4px;
	button.flat {
		@include click($alpha3, $variant);
	}
	.osd & {
		background-color: transparent;
	}
	&.osd {
		padding: 13px;
		border-radius: $omega1;
		border: none;
		background-color: green;
		&.left, &.right, &.top, &.bottom {
			border-radius: 0;
		}
		&.left {
//			box-shadow: inset -1px 0 green;
		}
		&.right {
//			box-shadow: inset 1px 0 $osd_borders_color;
		}
		&.top {
//			box-shadow: inset 0 -1px $osd_borders_color;
		}
		&.bottom {
//			box-shadow: inset 0 1px $osd_borders_color;
		}
	}
	&.horizontal separator {
		margin: 0 7px 1px 6px;
	}
	&.vertical separator {
		margin: 6px 1px 7px 0;
	}
	&:not(.inline-toolbar):not(.osd) {
		switch, scale, entry, spinbutton, button {
			margin-right: 1px;
			margin-bottom: 1px;
		}
	}
}

.inline-toolbar {
	@extend %toolbar;
	box-shadow: $shadow1;
	adding: 3px;
	border-width: 0 1px 1px;
	border-radius: 0  0 5px 5px;
}
.inline-toolbar.horizontal.sidebar-toolbar:backdrop {
	background-color: transparent;
}

searchbar, .location-bar {
	@extend %toolbar;
	background-color: transparent;
	padding: 3px;
}
