.view, %view {
	@each $selector, $state in
	("", "normal"),
	(":backdrop", "backdrop"),
	(":disabled", "disabled"),
	(":selected", "selected"),
	(":focus, &", "focus") {
		&#{$selector} {
			@include window($state);
		}
	}



//    &:focus, & {
//      @extend %selected_items;
      /* border-radius change here caused issue 473: selected radio becomes squared
       * keeping the code since it is not clear if removing it can cause any side effect
       * border-radius: 3px; */
//    }

//	}
}

.view,
textview {
  text {
    @extend %view;
    selection { &:focus, & { @extend %selected_items; }}
  }
}

textview border { background-color: mix($bg_color, $base_color, 50%); }

iconview { @extend .view; &:selected { border-radius: $small_radius; } }

.rubberband,
rubberband {
  border: 1px solid darken($selected_bg_color, 10%);
  background-color: transparentize(darken($selected_bg_color, 10%), 0.8);
}

flowbox {
  rubberband { @extend rubberband; }

  flowboxchild {
    padding: 3px;

    &:selected {
      @extend %selected_items;

      outline-offset: -2px;
    }
  }
}

.content-view .tile {
  margin: 2px;
  background-color: if($variant=='light', transparent, transparent);
  border-radius: 0;
  padding: 0;

  &:backdrop { background-color: if($variant=='light', transparent, transparent); }
  &:active, &:selected { background-color: if($variant=='light', transparent, transparent); }
  &:disabled { background-color: if($variant=='light', transparent, transparent); }
}

label {
  caret-color: currentColor; // this shouldn't be needed.
  outline-offset: 1px;

  &.separator {
    @extend .dim-label;

    color: $fg_color;

    &:backdrop { color: $backdrop_text_color; }
  }

  &:selected { @extend %nobg_selected_items; }

  selection {
    @extend %selected_items;
  }
  counter-label{background-color: $purple;}

  &:disabled {
    color: $insensitive_fg_color;

    selection { @extend %selected_items:disabled; }

    &:backdrop { color: $backdrop_insensitive_color; }
  }

  &:backdrop {
    color: $backdrop_text_color;

    selection { @extend %selected_items:backdrop; }
  }
}

.dim-label {
  opacity: 0.55;
}

//Used as update count in GNOME software
.counter-label {
  margin-top: 2px;
  margin-bottom: 2px;
  border-width: 0px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: inset 0 0 10px 10px $success_color;
}
//Used as error count in GNOME logs
.compressed-entries-label { box-shadow: inset 0 0 10px 10px darken($bg_color,40%); }

assistant {
  .sidebar {
    background-color: $sidebar_bg_color;
    border-top: 1px solid $borders_color;

    &:backdrop {
      background-color: $backdrop_sidebar_bg_color;
      border-color: $backdrop_borders_color;
    }
  }

  &.csd .sidebar { border-top-style: none; }

  .sidebar label { padding: 6px 12px; }

  .sidebar label.highlight { background-color: mix($bg_color, $fg_color, 80%); }
}

%osd,
.osd {
  color: $osd_fg_color;
  border: none;
  box-shadow: inset 0 0 0 1px $osd_borders_color;
  background-color: $osd_bg_color;
  background-clip: padding-box;
}


