// Star Labs Palette
// Accents
$accent1: #6ec5ff;
$accent2: #2195f2;
$accent3: #0068bf;

// Dark
$dark1: #17171d;

// White
$white: #ffffff;

// Context Colors
$success: #0ba011;
$warning: #c98810;
$failure: #b20903;

// Alpha & Omega
$alpha1: 0.95;
$alpha2: 0.8;
$alpha3: 0.2;
$omega1: 6px;
$beta1: 5%;
$beta2: 10%;


// Shadows
$shadow1: 0 1.5px 2px transparentize(if($variant==light, $dark1, mix($white, $dark1, 50%)), $alpha2), 0 1.5px 2px transparentize(if($variant==light, $dark1, $white), $alpha2);
$shadow2: 0 3px 4px transparentize(if($variant==light, $dark1, mix($white, $dark1, 50%)), $alpha2), 0 3px 4px transparentize(if($variant==light, $dark1, mix($white, $dark1, 50%)), $alpha2);

$shadowa: 0 3px 9px 1px transparentize(if($variant==light, $dark1, lighten($dark1, $beta2)), $alpha3); // Window Active Shadow
$shadowb: 0 3px 9px 1px transparent, 0 2px 6px 2px transparentize (if($variant==light, $dark1, lighten($dark1, $beta2)), $alpha3); // Window Backdrop Shadow

// Transitions
$time: 100ms;
$backdrop: all 500ms ease-out;
$click: all 100ms cubic-bezier(0, 0, 0.2, 1);

// Need to remove these
$tran1: all 500ms ease-out; // Used for backdrop(ing)
$tran2: all 100ms cubic-bezier(0, 0, 0.2, 1); // Used for clicking

// Derived
$color: if($variant==light, $dark1, $white);
$fill: if($variant==light, $white, $dark1);
$bd-fill: lighten(if($variant==light, $white, $dark1), $beta1);
$mix: if($variant==light, mix($white, $dark1, 25%), mix($dark1, $white, 25%));

$selected: $accent2;
$bd-selected: lighten($accent2, $beta1);
