// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import "starlabs";

$base_color: if($variant == 'light', $white2, $dark2);
$bg_color: $base_color;
$fg_color: if($variant == 'light', $dark2, $white2);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', $accent2, darken($accent2, 5%));
$selected_borders_color: $selected_bg_color;
$borders_color: $bg_color;
$borders_edge: $bg_color;
$link_color: $accent2;
$link_visited_color: $accent3;
$top_hilight: $accent1;

$warning_color: $yellow;
$error_color: $red;
$success_color: $green;
$destructive_color: $red;

$osd_fg_color: $fg_color;
$osd_text_color: $fg_color;
$osd_bg_color: $bg_color;
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize($bg_color, 0.3);
$osd_outer_borders_color: transparentize($fg_color, 0.84);

$tooltip_borders_color: $osd_outer_borders_color;
$shadow_color: transparentize(black, 0.9);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $fg_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);

$base_hover_color: transparentize($accent2, 0.8);
$base_active_color: transparentize($accent2, 0.75);
$hover_fg_color: lighten($selected_fg_color, .25);
$active_fg_color: transparentize($selected_fg_color, .5);

$panel_bg_color: $bg_color;
$dash_bg_color: $bg_color;
$panel-alpha-value: 0.2;
$panel_opaque_value: 0.0;

$dash-alpha-value: $panel-alpha-value;
$dash-opaque-alpha-value: $panel_opaque_value;

$transparent: transparentize($bg_color, $dash-alpha-value);
