Package: starlabstheme-font
Source: starlabstheme-master
Version: 0.0.52
Architecture: all
Maintainer: Star Labs Systems <support@starlabs.systems>
Installed-Size: 78
Conflicts: starlabs-font
Replaces: starlabs-font
Provides: starlabs-font
Section: misc
Priority: optional
Homepage: https://starlabs.systems
Description: Star Labs Theme.
