// Well, not following the theme but a white terminal looks crap
terminal-window {
	.terminal-screen {
		@include header(true);
	}
	notebook > header.top > tabs > tab {
		&:checked {
			background-color: $dark1;
			color: $white;
			border-color: $accent2;
			border-bottom: 2px solid darken($selected_bg_color, 10%);
		}
	}
	notebook {
		// inherits from notebook header
		> header {
			border-color: $accent2;
			background-color: $accent2;
			button.flat {
				&, &:backdrop {
					color: $white;
					@each $state, $type in (':hover', 'hover'),
						(':active, &:checked', 'active'),
						(':backdrop', 'backdrop'),
						(':backdrop:hover', 'backdrop-hover'),
						(':backdrop:checked:hover', 'backdrop-active'),
						(':backdrop:disabled', 'backdrop-insensitive'),
						(':disabled', 'insensitive') {
							&#{$state} {
								@include clickable($type);
								color: $white;
							}
						}
				&, &:backdrop {
					color: $backdrop_headerbar_fg_color;
					&, &:disabled {
						background-color: transparent;
						border-color: transparent;
					}
				}
			&:backdrop:hover { border-color: $inkstone; }
		}
	}
	&:backdrop {
		border-color: $inkstone;
		background-color: _backdrop_color($backdrop_headerbar_bg_color);
	}

      tab {
        $_border_color: transparentize($accent2, 0.8);

        color: $ash;

        &:hover:backdrop {
          border-color: lighten($headerbar_bg_color, 4%);
        }

        &:hover:not(:active):not(:backdrop):not(:checked) {
          background-color: lighten($headerbar_bg_color, 4%);
          border-color: $inkstone;
        }

        &:hover:not(:active):not(:backdrop) {
          background-color: $headerbar_bg_color;
          border-color: $_border_color;
        }

        &:hover:checked:not(:backdrop) {
          background-color: lighten($headerbar_bg_color, 6%);
          border-color: $inkstone;
          border-bottom: 2px solid $selected_bg_color;
        }

        &:backdrop {
          &, label { color: $ash; }
        }

        &:checked {
          color: $terminal_fg_color;
          background-color: lighten($headerbar_bg_color, 4%);
          border-color: $_border_color;

          &:backdrop {
            background-color: $backdrop_headerbar_bg_color;
            border-color: _backdrop_color($_border_color);
            border-bottom-color: transparent;
            color: _backdrop_color($terminal_fg_color);
          }
        }
      }
    }

    scrollbar {
      // inherits from scrollbar
      $_scrollbar_bg: darken($headerbar_bg_color, 5%);
      $_scrollbar_bc: darken($terminal_borders_color, 5%);
      background-color: transparent;
      border-color: transparent;

      &:backdrop {
        background-color: transparent;
        border-color: transparent
      }

      slider {
        // avoids scrollbar protruding from the terminal window on wayland session
        // workaround for https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1720651
        margin: 0;
        border-width: 3px;

        $c: $terminal_fg_color;
        background-color: transparentize($c, 0.6);

        &:hover {
          background-color: transparentize($c, 0.4);
        }

        &:hover:active {
          background-color: transparentize($c, 0.2);
        }

        &:backdrop {
          background-color: transparentize($c, 0.8);
        }

        &:disabled {
          background-color: transparent;
        }
      }

      &.dragging,
      &.hovering {
        background-color: transparent;
      }
    }
  }
}

