#lockDialogGroup {
        background-image: url("file:///usr/share/gnome-shell/theme/StarLabs/wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

