.audio-device-selection-dialog {
	@extend %shell-window;
	StEntry {
		@include entry;
	}
	spacing: 30px;
}
.audio-selection-content {
	spacing: 20px;
	padding: 24px;
}
.audio-selection-title {
	font-weight: bold;
	text-align: center;
}
.audio-selection-box {
	spacing: 20px;
}
.audio-selection-device {
	border-radius: 12px;
	@include button(all, true, false);
	@include button-shell;
}
.audio-selection-device-box {
	padding: 20px;
	spacing: 20px;
}
.audio-selection-device-icon {
	icon-size: 64px;
}

