.network-dialog-secret-table {
	spacing-rows: 15px;
	spacing-columns: 1em;
}

.keyring-dialog-control-table {
	spacing-rows: 15px;
	spacing-columns: 1em;
}

.nm-dialog {
	@include fill(normal, $alpha3);
	StEntry {
		@include entry;
	}
	.button {
		@include clickable(normal);
		&:hover {
			@include clickable(hover);
		}
		&:active {
			@include clickable(active);
		}
	}
	max-height: 34em;
	min-height: 31em;
	min-width: 32em;
}

.nm-dialog-content {
	spacing: 20px;
	padding: 24px;
}
.nm-dialog-header-hbox {
	spacing: 10px;
}
.nm-dialog-airplane-box {
	spacing: 12px;
}

.nm-dialog-airplane-headline {
	font-weight: bold;
	text-align: center;
}
.nm-dialog-airplane-text {
//	color: ;
}
.nm-dialog-header-icon {
	icon-size: 32px;
}
.nm-dialog-scroll-view {
//	border: ;
}
.nm-dialog-header {
	font-weight: bold;
}
.nm-dialog-item {
	font-size: 110%;
//	border-bottom: ;
	padding: 12px;
	spacing: 20px;
}
.nm-dialog-item:selected {
	@include clickable(active);
}
.nm-dialog-icons {
	spacing: .5em;
}
.nm-dialog-icon {
	icon-size: 16px;
}
.no-networks-label {
	@include fill(normal, $alpha3);
}
.no-networks-box {
	spacing: 12px;
}
