.workspace-switcher-group {
	padding: 12px;
}
.workspace-switcher-container {
	@include fill(normal, $alpha3);
	padding: 5px;
	border-radius: $omega1;
}
.workspace-switcher {
	background: transparent;
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	spacing: 8px;
}
.ws-switcher-active-up, .ws-switcher-active-down {
	height: 50px;
	@include clickable(normal);
	background-size: 32px;
	border-radius: $omega1;
}
.ws-switcher-active-up {
	background-image: url("ws-switch-arrow-up.svg");
}
.ws-switcher-active-down {
	background-image: url("ws-switch-arrow-down.svg");
}
.ws-switcher-box {
	height: 50px;
	@include fill(normal, $alpha3);
	border-radius: $omega1;
}



