@mixin entry ($t) {
	@if $t==normal {
		border-radius: 0;
		background-color: darken($white, $beta1);
		color: $dark1;
		border-bottom: 2px solid lighten($dark1, $beta1);
	}
        @if $t==osd {
                background-color: darken($white, $beta1);
                color: $dark1;
                border-bottom: 2px solid lighten($dark1, $beta1);
        }

	@if $t==focus {
		border-bottom: 2px solid $accent2;
		label, & {
			color: $accent2;
		}
	}
	@if $t==osd-focus {
                border-bottom: 2px solid $accent2;
                label, & {
                        color: $accent2;
                }
        }
	@if $t==insensitive {
		background-color: darken($white, $beta2);
		color: darken($dark1, $beta1);
		border-bottom: 2px solid lighten($dark1, $beta2);
	}
	@if t==osd-insensitive {
                background-color: darken($white, $beta2);
                color: darken($dark1, $beta1);
                border-bottom: 2px solid lighten($dark1, $beta2);
	}
	@if $t==backdrop {
		background-color: lighten($white, $beta1);
		color: lighten($dark1, $beta1);
	}
	@if t==osd-backdrop {
                background-color: lighten($white, $beta1);
                color: lighten($dark1, $beta1);
	}
	@if $t==backdrop-insensitive {
                background-color: darken($white, $beta1);
                color: darken($white, $beta1);
                border-bottom: 2px solid lighten($dark1, $beta1);
	}
}

