.nautilus-window {
  // keep details box visible
  // details box looks ugly when many items are selected and it floats above the orange
  background-image: none;
  background-color: if($light, white, $base_color);
  &:backdrop { background-color: $backdrop_base_color }

  // Makes icons less bright in backdrop
  @at-root %dim_icons_in_backdrop,
  *scrolledwindow:backdrop { opacity: 0.9; }

  paned box.floating-bar {
    background: transparentize($jet, 0.1);
    color: $porcelain;
    border: none;
    border-radius: $small_radius 0 0 0;

    /* stop upload folder button */
    button.circular.flat.image-button {
      // style both normal and hover at the same time is necessary
      // otherwise gtk will take the style from somewhere else...
      &, &:hover {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        color: $bg_color;
        margin: 2px;
      }

      &:backdrop {
        transition: none;
        border-color: transparent;
      }

      // ...and here style just the difference from normal
      &:hover {
        color: $destructive_color;
      }
    }

    &:backdrop {
      @if $variant=='light' {
        background: transparentize(darken($backdrop_bg_color, 10%), 0.1);
      }
      @else {
        background: transparentize(lighten($jet, 10%), 0.1);
      }
    }
  }

  .searchbar-container searchbar {
    // get rid of a 1px white line shown at the top of the window
    // applies to the desktop too
    background: transparent;
    border-color: transparent;
  }

  treeview:drop(active):focus {
    // drop target green bottom border was missing
    border-bottom: 1px solid $drop_target_color;
  }

  treeview.view header button {
    background-color: if($light, $base_color, $base_color);
    background-image: none;
    border-color: transparentize($borders_color, 0.6);
    border-left: 1px;

    &:hover {background-color: $bg_color;}
    &:backdrop { background-color: if($light, #EEEFF0, $backdrop_base_color);} // It should be _backdrop_color(white); but that does not work.
  }

  @at-root %remove_folder_icon_tint,
  scrolledwindow widget.view:selected {
    // reduces orangeness of selected folder icons
    background-color: rgba(255, 255, 255, 0.1); // folder icon is tinted based on this
                                                // near transparent white results in no tint
                                                // completely transparent tints the icon black
    background-image: image($selected_bg_color); // label background becomes this
    border-radius: $small_radius;
  }

  .nautilus-list-view .view {
    border-bottom: 1px solid transparentize($borders_color, 0.8);

    // Hide superfluous treeview drop target indication
    &.dnd { border-style: none; }
  }

  notebook > header {
    background: if($variant==light, $porcelain, $bg_color);
  }

  paned > separator {
    // separator between sidebar and main window view
    $_alpha: if($variant=='light', 0.08, 0.16);
    $_separator_color: rgba(0, 0, 0, $_alpha);

    background-image: image($_separator_color);
    &:backdrop { background-image: image(transparentize($borders_color, 0.7)); }
  }

  .nautilus-canvas-item.dim-label,
  .nautilus-list-dim-label {
      color: if($variant==light, lighten($text_color, 30%), darken($text_color, 25%));
      &:selected { color: transparentize($selected_fg_color, 0.3); }
  }

  .nautilus-canvas-item {
    -gtk-outline-radius: $small_radius;
    outline-offset: -2px;
    &:selected {
      outline-color: white;
    }
  }
}

.nautilus-desktop-window {
  .nautilus-desktop.view {
    color: $selected_fg_color;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

