messagedialog {
	decoration {
		border-radius: $omega1;
	}
	.titlebar {
		min-height: 20px;
	}
	&.csd {
//		background-color: ;
		&.background {
			border-bottom-left-radius: $omega1;
			border-bottom-right-radius: $omega1;
		}
		.dialog-vbox {
			margin-top: 14px;
		}
		.dialog-action-area button {
//			@extend %button;
			margin: 0 7px 7px;
		}
	}
}

filechooser {
	& actionbar {
		@include fill(normal, $alpha2, $header);
		&:backdrop {
			@include fill(backdrop, $alpha2, $header);
		}
	}
	& placessidebar ~ box box > stack ~ box  {
		@include fill(normal, $alpha2, $header);
		&:backdrop {
			@include fill(backdrop, $alpha2, $header);
		}
		border-width: 0 1px;
		padding: 10px;
	}
}

filechooserbutton:drop(active) {
	box-shadow: none;
	border-color: transparent;
}
