%link, *:link {
	color: $accent2;
	&:visited {
		color: darken($accent2, 20%);
		*:selected & {
			color: darken($accent2, 50%);
		}
	}
	&:hover {
		color: $accent1;
		*:selected & {
			color: darken($accent1, 20%);
		}
	}
	&:active {
		color: $accent3;
		*:selected & {
			color: darken($accent3, 20%);
		}
	}
	&:backdrop {
		&:backdrop:hover, &:backdrop:hover:selected, & {
			color: lighten($accent2, $beta1);;
		}
	}
	@at-root %link_selected, &:selected, *:selected & {
		color: $accent2;
	}
}

button:link, button:visited {
	@include clickable(undecorated);
	@extend *:link;
	&:hover, &:active, &:checked {
		@include clickable(undecorated);
	}
	> label {
		@extend %link;
	}
	&:hover > label {
		text-decoration-line: underline;
	}
	&:backdrop:hover {
		background-color: transparent;
		border-color: transparent;
	}
}
