popover.background {
	padding: 2px;
	border-radius: $omega1;
	@include fill(normal);
	.csd &, & {
//		border: 1px solid $mix;
	}
	box-shadow: $shadow2;
	&:backdrop {
		@include fill(backdrop);
	}
	> list, > .view, > toolbar {
		border-style: none;
		background-color: transparent;
	}
	.csd &, & {
		&.touch-selection, &.magnifier {
			@extend %osd;
			border: 1px solid transparentize($mix, $alpha3);
			button {
				@extend %osd_button; 
			}
		}
		&.osd {
			@extend %osd;
		}
	}
	modelbutton {
		min-height: 16px;
		min-width: 36px;
		padding: 5px 6px;
	}
	separator {
		margin: 3px;
	}
	list separator {
		margin: 0px;
	}
}

