%scale_trough {
	border-radius: 3px;
	background-color: $mix;
	&:disabled {
		background-color: transparentize($mix, $alpha2);
	}
	&:backdrop {
		background-color: lighten($mix, $beta1);
	}
}

%scale_highlight {
	border-radius: 3px;
	background-color: darken($mix, $beta2);
	&:disabled {
		background-color: transparent;
	}
	&:backdrop {
		background-color: darken($mix, $beta1);
	}
}

scale {
	min-height: 8px;
	min-width: 8px;
	padding: 12px;
	slider {
		min-height: 18px;
		min-width: 18px;
		margin: -9px;
	}
	&.horizontal slider {
		margin-top: -8px;
	}
	&.vertical slider {
		margin-left: -8px;
	}
	&.fine-tune {
		&.horizontal {
			padding-top: 8px;
			padding-bottom: 8px;
			min-height: 16px;
		}
		&.vertical {
			padding-left: 8px;
			padding-right: 8px;
			min-width: 16px;
		}
		slider {
			margin: -8px;
		}
		&.horizontal slider {
			margin-top: -7px;
		}
		&.vertical slider {
			margin-left: -7px;
		}
		fill, highlight, trough {
			border-radius: 5px;
			-gtk-outline-radius: 7px;
		}
	}
	trough {
		@extend %scale_trough;
		outline-offset: 3px;
		-gtk-outline-radius: 5px;
	}
	highlight {
		@extend %scale_highlight;
	}
	fill {
		@extend %scale_trough;
		&:backdrop, & {
			background-color: $mix;
		}
		&:disabled {
			&:backdrop, & {
				border-color: transparent;
				background-color: transparent;
			}
		}
	}
	slider {
		background-color: $mix;
		border-radius: 10px;
		background-clip: border-box;
		transition: $click;
		transition-property: background, border, box-shadow;
		&:hover {
			background-color: $accent2;
		}
		&:active {
			background-color: $accent3;
		}
		&:disabled {
			background-color: trasparentize($mix, $alpha2);
		}
	}
	value {
		color: gtkalpha(currentColor, 0.55);
	}
	marks {
		color: gtkalpha(currentColor, 0.55);
		@each $marks_class, $marks_pos, $marks_margin in
		(top, top, bottom),
		(bottom, bottom, top),
		(top, left, right),
		(bottom, right, left) {
			&.#{$marks_class} {
				margin-#{$marks_margin}: $omega1;
				margin-#{$marks_pos}: -($omega1 + $omega1);
			}
		}
	}
	&.fine-tune marks {
		@each $marks_class, $marks_pos, $marks_margin in
		(top, top, bottom),
		(bottom, bottom, top),
		(top, left, right),
		(bottom, right, left) {
			&.#{$marks_class} {
				margin-#{$marks_margin}: $omega1;
				margin-#{$marks_pos}: -($omega1 + $omega1 - 1px);
			}
		}
	}
	&.horizontal {
		indicator {
			min-height: $omega1;
			min-width: 1px;
		}
		&.fine-tune indicator {
			min-height: ($omega1 - 1px);
		}
	}
	&.vertical {
		indicator {
			min-height: 1px;
			min-width: $omega1;
		}
		&.fine-tune indicator {
			min-width: ($omega1 - 1px);
		}
	}
	@each $dir_class, $dir_infix in
	('horizontal', 'horz'),
	('vertical', 'vert') {
		@each $marks_infix, $marks_class in
		('scale-has-marks-above', 'marks-before:not(.marks-after)'),
		('scale-has-marks-below', 'marks-after:not(.marks-before)') {
			@each $state, $state_infix in
			('', ''),
			(':hover', '-hover'),
			(':active', '-active'),
			(':disabled', '-insensitive'),
			(':backdrop', '-backdrop'),
			(':backdrop:disabled', '-backdrop-insensitive') {
				&.#{$dir_class}.#{$marks_class} {
					slider {
						&#{$state} {
							margin: -9px;
							$_scale_asset: 'assets/slider-#{$dir_infix}-#{$marks_infix}#{$state_infix}';
							border-style: none;
							border-radius: 0;
							background-color: transparent;
							background-image: -gtk-scaled(url('#{$_scale_asset}.png'), url('#{$_scale_asset}@2.png'));
							$_scale_slider_bg_pos: center calc(100% - 2px);
							@if $dir_class == 'horizontal' {
								min-height: 26px;
								min-width: 22px;
								background-size: 16px 24px;
								@if $marks_infix == 'scale-has-marks-above' {
									margin-top: -14px;
									$_scale_slider_bg_pos: center 2px;
								}
								@else {
									margin-bottom: -14px;
								}
							}
							@else {
								min-height: 22px;
								min-width: 26px;
								background-size: 24px 16px;
								@if $marks_infix == 'scale-has-marks-above' {
									margin-left: -14px;
									$_scale_slider_bg_pos: calc(100% - 2px) center;
								}
								@else {
									margin-right: -14px;
									$_scale_slider_bg_pos: 2px center;
								}
							}
							background-position: $_scale_slider_bg_pos;
							background-repeat: no-repeat;
							box-shadow: none;
						}
					}
					&.fine-tune slider {
						margin: -8px;
						@if $dir_class == 'horizontal' {
							@if $marks_infix == 'scale-has-marks-above' {
								margin-top: -13px;
							}
							@else {
								margin-bottom: -13px;
							}
						}
						@else {
							@if $marks_infix == 'scale-has-marks-above' {
								margin-left: -13px;
							}
							@else {
								margin-right: -13px;
							}
						}
					}
				}
			}
		}
	}
	&.color {
		min-height: 0;
		min-width: 0;
		&.horizontal {
			padding: 0 0 12px 0;
				trough {
					padding-bottom: 3px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
				slider {
					&:dir(ltr), &:dir(rtl) {
						&:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
							margin-bottom: -12px;
							margin-top: 5px;
						}
					}
					}
			}
			&.vertical {
				&:dir(ltr) {
					padding: 0 0 0 12px;
					trough {
						padding-left: 3px;
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
					}
					slider {
						&:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
							margin-left: -12px;
							margin-right: 5px;
						}
					}
				}
				&:dir(rtl) {
					padding: 0 12px 0 0;
					trough {
						padding-right: 3px;
						border-bottom-left-radius: 0;
						border-top-left-radius: 0;
					}
					slider {
						&:hover, &:backdrop, &:disabled, &:backdrop:disabled, & {
							margin-right: -12px;
							margin-left: 5px;
						}
					}
				}
			}
			&.fine-tune {
				&.horizontal {
					&:dir(ltr), &:dir(rtl) {
						padding: 0 0 10px 0;
						trough {
							padding-bottom: 5px;
						}
						slider {
							margin-bottom: -12px;
							margin-top: 5px;
						}
					}
				}
			&.vertical {
				&:dir(ltr) {
					padding: 0 0 0 10px;
					trough {
						padding-left: 5px;
					}
					slider {
						margin-left: -12px;
						margin-right: 5px;
					}
				}
				&:dir(rtl) {
					padding: 0 10px 0 0;
					trough {
						padding-right: 5px;
					}
					slider {
						margin-right: -12px;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
