$accent1:#00701a;
$accent2:#43a047;
$accent3:#76d275;

$variant: 'light';

@import '../../Master/gtk-3.0/_colors.scss';
@import '../../Master/gtk-3.0/_drawing.scss';
@import '../../Master/gtk-3.0/_common.scss';
@import '../../Master/gtk-3.0/_apps.scss';
@import '../../Master/gtk-3.0/_colors-public.scss';
@import '../../Master/gtk-3.0/_barryallen.scss';
