$accent1:#c6a700;
$accent2:#fdd835;
$accent3:#ffff6b;

$variant: 'dark';
$header: 'dark';

@import '../../Master/gtk-3.0/_colors.scss';
@import '../../Master/gtk-3.0/_drawing.scss';
@import '../../Master/gtk-3.0/_common.scss';
@import '../../Master/gtk-3.0/_apps.scss';
@import '../../Master/gtk-3.0/_headerbar';
@import '../../Master/gtk-3.0/_colors-public.scss';
@import '../../Master/gtk-3.0/_barryallen.scss';
