.prompt-dialog {
	border-radius: $omega1;
	box-shadow: $shadow1;
	@include fill(normal, $alpha3);
        StEntry {
                @include entry;
	}
	.button {
		@include button(all, true, false);
		@include button-shell;
	}
	width: 34em;
	.message-dialog-main-layout {
		spacing: 24px;
		padding: 10px;
	}
	.message-dialog-content {
		spacing: 16px;
	}
}
.prompt-dialog-description:rtl {
	text-align: right;
}
.prompt-dialog-password-box {
	spacing: 1em;
	padding-bottom: 1em;
}
.prompt-dialog-error-label {
	font-size: 10pt;
	color: $failure;
	padding-bottom: 8px;
}
.prompt-dialog-info-label {
	font-size: 10pt;
	padding-bottom: 8px;
}
.hidden {
	color: rgba(0,0,0,0);
}
.prompt-dialog-null-label {
	font-size: 10pt;
	padding-bottom: 8px;
}
