.button {
	border-radius: $omega1;
	border-width: 1px;
	border-bottom-style: none;
	min-height: 22px;
	padding: 4px 32px;
	@include button(all, true, false);
//	@include button-shell;
}
.modal-dialog-linked-button {
	@include button(all, true, false);
	@include button-shell;
}

