// Gnome Settings
window.background.csd {
  > headerbar.titlebar {
    box.horizontal > headerbar:first-child {
      background-color: $base-alt;
      color: $on-base-alt;
      & image, & label {
        color: $on-base-alt;
      }
    }
  }
}
// Gnome Tweaks
.titlebar > headerbar.titlebar.tweak-titlebar-left {
  background-color: $base-alt;
  color: $on-base-alt;
  & image, & label {
    color: $on-base-alt;
  }
}


list.tweak-categories,
scrolledwindow viewport > stack list,
.sidebar list {
  background-color: $base-alt;
  color: $on-base-alt;
  .sidebar-icon {
      color: $on-base-alt;
  }
  row.activatable:selected {
    color: $on-surface;
    background-color: $surface;
    & label, & image {
      color: $on-surface;
    }
  }
}

// Window Close button
button.titlebutton:not(.appmenu) {
  &.close {
    background: hint($primary);
    color: $on-primary;
    &:hover {
      background: $primary;
    }
  }
}
// Terminal Background
.terminal-window {
  .terminal-screen {
    background-color: mix($surface, $primary, 80%);
    color: mix($on-surface, $on-primary, 80%);
  }
}
// Nautilus
.nautilus-window paned > separator {
    background: image($surface);
}
