@mixin check($type, $color:white, $fill:transparent) {
  // Check/Radio drawing function
  //
  // $t:    check/radio type,
  // $c:    base button color for colored* types
  // $tc:   optional text color for colored* types
  //
  // possible $t values:
  // normal, hover, active, insensitive, backdrop, backdrop-insensitive
	@if $type==normal {
//		background-clip: padding-box;
		background-color: $fill;
		color: $color;
	}
	@if else $type==hover {

	}
	@if else $type==active {

	}
	@if else $type==insensitive {
		opacity: $alpha1;
	}
	@if else $type==backdrop {

	}
}

