@mixin clickable($type, $transparent: solid, $style:$variant) {
	$color: if($style==light, $dark1, if($style==dark, $white, $white));
	$fill: if($style==light, $white, if($style==dark, $dark1, $style));

	@if $type==normal {
		// Standard Button
		&, label, image {
			color: $color;
		}
		background-color: if($transparent==solid, $fill, transparentize($fill, $transparent));
		box-shadow: $shadow1;
		transition: $click;
	}
	@else if $type==focus {
		// Selected Button
		&, label, image {
			color: $color;
		}
		$background-focus: $fill;
                background-color: if($transparent==solid, $background-focus, transparentize($background-focus, $transparent));
		box-shadow: $shadow2;
		transition: $click;
	}
	@else if $type==hover {
		// Hovering on Button
		&, label, image {
			color: $color;
		}
		$background-hover: $fill;
                background-color: if($transparent==solid, $background-hover, transparentize($background-hover, $transparent));
		border-color: transparent;
		box-shadow: $shadow2;
		transition: $click;
	}
	@elseif $type==active {
		// Button in On State
		&, label, image {
			color: $color;
		}
		$background-active: $fill;
                background-color: if($transparent==solid, $background-active, transparentize($background-active, $transparent));
		border-color: transparent;
		box-shadow: $shadow2;
		transition: $click;
	}
	@else if $type==disabled {
		// Button that is disabled
		&, label, image {
			color: if($variant==light, lighten($color, 50%), darken($color, 50%));
		}
	}
	@if $type==backdrop {
		// Backdropped Standard Button
		&, label, image {
			color: $color;
		}
		$background-backdrop: if($fill==$dark1, darken($fill, $beta1), if($fill==$white, darken($fill, $beta1), darken($fill, $beta1)));
                background-color: if($transparent==solid, $background-backdrop, transparentize($background-backdrop, $transparent));
		box-shadow: $shadow1;
		transition: $backdrop;
	}
	@else if $type==backdrop-focus {
		// Backdropped Selected Button
		&, label, image {
			color: $color;
		}
		$background-backdrop-focus: if($fill==$dark1, darken($fill, $beta1), if($fill==$white, darken($fill, $beta1), darken($fill, $beta1)));
		background-color: if($transparent==solid, $background-backdrop-focus, transparentize($background-backdrop-focus, $transparent));
		box-shadow: $shadow2;
		transition: $backdrop;
	}
	@else if $type==backdrop-hover {
		// Backdropped Hovering on Button
		&, label, image {
			color: $color;
		}
		$background-backdrop-hover: if($fill==$dark1, darken($fill, $beta1), if($fill==$white, darken($fill, $beta1), darken($fill, $beta1)));
                background-color: if($transparent==solid, $background-backdrop-hover, transparentize($background-backdrop-hover, $transparent));
		border-color: transparent;
		box-shadow: $shadow2;
		transition: $backdrop;
	}
	@elseif $type==backdrop-active {
		&, label, image {
			color: $color;
		}
		$background-backdrop-active: if($fill==$dark1, darken($fill, $beta1), if($fill==$white, darken($fill, $beta1), darken($fill, $beta1)));
                background-color: if($transparent==solid, $background-backdrop-active, transparentize($background-backdrop-active, $transparent));
		border-color: transparent;
		box-shadow: $shadow2;
		transition: $backdrop;
	}
	@elseif $type==undecorated {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		text-shadow: none;
		-gtk-icon-shadow: none;
	}
}


