@mixin clickable($type, $shadow: true, $transparent: true, $style: accent) {

	$focus: if($style==failure, $failure1, if($style==success, $success1, $accent1));
	$hover: if($style==failure, $failure2, if($style==success, $success2, $accent2));
	$active: if($style==failure, $failure3, if($style==success, $success3, $accent3));

	@if $type==normal {
		// Standard Button
		&, label, image {
			@if $transparent==true {
				color: if($style==accent, $color, $white);
			}
			@else {
				color: if($transparent==false, $color, $white);
			}
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $click;
	
		@if $transparent==true {
			background-color: if($style==accent, transparent, $focus);
		}
		@else {
			background-color: if($style==accent, $fill, $focus);
		}
	}

	@else if $type==focus {
		// Selected Button
		&, label, image {
//			color: $white;
		}
//		box-shadow: if($shadow==true, $shadow1, none);
//		transition: $click;
//		background-color: $focus;
	}

	@else if $type==hover {
		// Hovering on Button
		&, label, image {
			color: $white;
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $click;
		background-color: $hover;
	}
	@else if $type==active {
		// Button in On State
		&, label, image {
			color: $white;
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $click;
		background-color: $active;
	}
	@else if $type==disabled {
		// Button that is disabled
		&, label, image {
			color: if($variant==light, lighten($color, 50%), darken($color, 50%));
		}
	}
	@else if $type==backdrop {
		// Backdropped Standard Button
		&, label, image {
			@if $transparent==true {
				color: if($style==accent, $color, $white);
			}
			@else {
				color: if($transparent==false, $color, $white);
			}
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $click;
	
		@if $transparent==true {
			background-color: if($style==accent, transparent, lighten($focus, $beta1));
		}
		@else {
			background-color: if($style==accent, lighten($fill, $beta1), lighten($focus, $beta1));
		}
	}
	@else if $type==backdrop-focus {
		// Backdropped Selected Button
//		&, label, image {
//			color: $white;
//		}
//		box-shadow: if($shadow==true, $shadow1, none);
//		transition: $backdrop;
//		background-color: lighten($focus, $beta1);
	}
	@else if $type==backdrop-hover {
		// Backdropped Hovering on Button
		&, label, image {
			color: $white;
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $backdrop;
		background-color: lighten($hover, $beta1);
	}
	@else if $type==backdrop-active {
		&, label, image {
			color: $white;
		}
		box-shadow: if($shadow==true, $shadow1, none);
		transition: $backdrop;
		background-color: lighten($active, $beta1);
	}
	@else if $type==undecorated {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		text-shadow: none;
		-gtk-icon-shadow: none;
	}
}
