@mixin fill($type, $transparent: solid, $style:$variant) {
	$color: if($style==light, $dark1, $white);
	$fill: if($style==light, $white, if($style==dark, $dark1, $style));
	@if $type==normal {
		&, label, image {
			color: $color;
		}
		background-color: if($transparent==solid, $fill, transparentize($fill, $transparent));
		transition: $backdrop;
	}
	@if $type==hover {
		&, label, image {
			color: $color;
		}
		$background-hover: if($fill==$dark1, darken($fill, $beta1), lighten($fill, $beta1));
		background-color: if($transparent==solid, $background-hover, transparentize($background-hover, $transparent));
		transition: $backdrop;
	}
	@if $type==backdrop {
		&, label, image {
			color: $color;
		}
		$background-backdrop: darken($fill, $beta1);
		background-color: if($transparent==solid, $background-backdrop, transparentize($background-backdrop, $transparent));
		transition: $backdrop;
	}
}
