@mixin switch($off:$accent1, $on:$accent3) {
	background-color: $off;
	border-radius: $omega1;
	border-width: 1px;
	border-style: solid;
	border-color: darken($off, $beta1);
	border-top-color: darken($off, $beta2);
	box-shadow: $shadow1;
	color: transparent;
	font-size: 0;
	outline-offset: 0;
	&:hover {
		-gtk-icon-effect: highlight;
		background-color: lighten($off, $beta1);
	}
	&:checked {
		background-color: $on;
		border-color: darken($on, $beta1);
		border-top-color: darken($on, $beta2);
		box-shadow: $shadow1;
		&:hover {
			-gtk-icon-effect: highlight;
			background-color: lighten($on, $alpha2);
		}
	}
	&:disabled {
		background-color: transparent;
		border: 1px solid $mix;
		box-shadow: $shadow1;
		&:checked {
			background-color: transparentize($on, $alpha2);
		}
	}
	&:backdrop {
		background-color: lighten($off, $beta1);
		border-top-color: darken($off, $beta1);
		transition: $backdrop;
		box-shadow: $shadow1;
		&:hover {
			background-color: lighten($off, $beta2);
			box-shadow: $shadow1;
			&:checked {
				box-shadow: $shadow1;
				background-color: lighten($on, $beta1);
			}
		}
		&:checked {
			background-color: lighten($on, $beta1);
			border-top-color: $on;
			box-shadow: $shadow1;
			&:disabled {
				box-shadow: $shadow1;
				background-color: transparentize(lighten($on, $beta1), $alpha2);
			}
		}
		&:disabled {
			background-color: transparent;
			border: 1px solid lighten($mix, $beta1);
			box-shadow: $shadow1;
		}
	}
	slider {
		background-color: $white;
		background-clip: border-box;
		border-radius: $omega1;
		border: 1px solid transparent;
		box-shadow: 0 1px 1px transparentize($fill, $alpha2);
		margin: 2px;
		min-height: 16px;
		min-width: 16px;
		outline-color: $accent2;
		outline-offset: -2px;
		transition: $click;
		-gtk-outline-radius: $omega1;
	}
	&:checked slider {
		box-shadow: 0 1px 1px darken($on, $beta2);
	}
	&:disabled slider {
		background-color: transparentize($color, $alpha2);
		border: 1px solid transparent;
		box-shadow: none;
	}
	&:backdrop slider {
		transition: $backdrop;
//		background-color: $bd-fill;
	}
}
