.selection-mode &,
  &.selection-mode,

headerbar, titlebar {
	.background {
		background-color: transparent;
	}
	padding: 0 6px;
	min-height: 0px;
	border-width: 0;
	border-radius: 0;
	background: none !important;
	background-color: transparent !important;
}

headerbar {
  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  separator:not(.sidebar),
  button {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  switch {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  &.titlebar headerbar:not(.titlebar) {
    // Drop the background of non-titlebar nested headerbars. This is needed to
    // work around headerbar sliding animation issues without refactoring
    // Adwaita's support of titlebars and headerbars as it may break
    // applications.
    // See https://gitlab.gnome.org/GNOME/gtk/issues/1264 for more information.
    background: none;
    box-shadow: none;
  }
}
