$accent1:#003059;
$accent2:#0068bf;
$accent3:#2195f2;

$variant: 'dark';
$header: 'dark';

@import '../../Master/gtk-3.0/_colors.scss';
@import '../../Master/gtk-3.0/_drawing.scss';
@import '../../Master/gtk-3.0/_common.scss';
@import '../../Master/gtk-3.0/_apps.scss';
@import '../../Master/gtk-3.0/_headerbar';
@import '../../Master/gtk-3.0/_colors-public.scss';
@import '../../Master/gtk-3.0/_barryallen.scss';
