$accent1:#00b2cc;
$accent2:#00e5ff;
$accent3:#6effff;

$variant: 'dark';

@import '../../Master/gtk-3.0/_colors.scss';
@import '../../Master/gtk-3.0/_drawing.scss';
@import '../../Master/gtk-3.0/_common.scss';
@import '../../Master/gtk-3.0/_apps.scss';
@import '../../Master/gtk-3.0/_colors-public.scss';
@import '../../Master/gtk-3.0/_barryallen.scss';
