Package: starlabstheme-icons
Source: starlabstheme-master
Version: 0.0.59
Architecture: all
Maintainer: Star Labs Systems <support@starlabs.systems>
Installed-Size: 47616
Breaks: starlabs-cursor-theme (<< 1.0.2)
Replaces: starlabs-cursor-theme (<< 1.0.2)
Provides: starlabs-cursor-theme
Section: gnome
Priority: optional
Homepage: https://starlabs.systems
Description: Star Labs Theme.
