$accent1:#8c0032;
$accent2:#c2185b;
$accent3:#fa5788;

$variant: 'dark';
$header: 'dark';
@import "../Master/gnome-shell-sass/_starlabs";
@import "../Master/gnome-shell-sass/_colors"; //use gtk colors
@import "../Master/gnome-shell-sass/_drawing";
@import "../Master/gnome-shell-sass/_common";
@import "../Master/gnome-shell-sass/_dock";
@import "../Master/gnome-shell-sass/_widgets.scss";
@import "../Master/gnome-shell-sass/widgets/_a11y";
@import "../Master/gnome-shell-sass/widgets/_app-grid";
@import "../Master/gnome-shell-sass/widgets/_base";
@import "../Master/gnome-shell-sass/widgets/_buttons";
@import "../Master/gnome-shell-sass/widgets/_calendar";
@import "../Master/gnome-shell-sass/widgets/_check-box";
@import "../Master/gnome-shell-sass/widgets/_corner-ripple";
@import "../Master/gnome-shell-sass/widgets/_dash";
@import "../Master/gnome-shell-sass/widgets/_dialogs";
@import "../Master/gnome-shell-sass/widgets/_entries";
@import "../Master/gnome-shell-sass/widgets/_hotplug";
@import "../Master/gnome-shell-sass/widgets/_ibus-popup";
@import "../Master/gnome-shell-sass/widgets/_keyboard";
@import "../Master/gnome-shell-sass/widgets/_login-dialog";
@import "../Master/gnome-shell-sass/widgets/_looking-glass";
@import "../Master/gnome-shell-sass/widgets/_message-list";
@import "../Master/gnome-shell-sass/widgets/_misc";
@import "../Master/gnome-shell-sass/widgets/_network-dialog";
@import "../Master/gnome-shell-sass/widgets/_notifications";
@import "../Master/gnome-shell-sass/widgets/_osd";
@import "../Master/gnome-shell-sass/widgets/_overview";
@import "../Master/gnome-shell-sass/widgets/_panel";
@import "../Master/gnome-shell-sass/widgets/_popovers";
@import "../Master/gnome-shell-sass/widgets/_screen-shield";
@import "../Master/gnome-shell-sass/widgets/_scrollbars";
@import "../Master/gnome-shell-sass/widgets/_search-entry";
@import "../Master/gnome-shell-sass/widgets/_search-results";
@import "../Master/gnome-shell-sass/widgets/_slider";
@import "../Master/gnome-shell-sass/widgets/_switcher-popup";
@import "../Master/gnome-shell-sass/widgets/_switches";
@import "../Master/gnome-shell-sass/widgets/_tiled-previews";
@import "../Master/gnome-shell-sass/widgets/_window-picker";
@import "../Master/gnome-shell-sass/widgets/_workspace-switcher";
@import "../Master/gnome-shell-sass/widgets/_workspace-thumbnails";
@import "../Master/gnome-shell-sass/_oliverqueen";
